Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

fix e2e tests
  pkg/coredns/coredns.go
Owners: @loft-sh/eng-dev-vcluster-platform

update k3s
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

rebase main
  go.sum
Owners: @loft-sh/eng-dev-vcluster-platform

Create volume snapshots
  pkg/snapshot/controller.go
  pkg/snapshot/meta/labels.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcilefailed.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/csi/volumesnapshotclasses.go
  pkg/snapshot/volumes/csi/wait.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/snapshotter.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Create dummy restore request
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix panics
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Sort imports
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Restore volumes from snapshots
  pkg/controllers/register.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/volumesnapshotclasses.go
  pkg/snapshot/volumes/csi/wait.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Strip PVC before saving in snapshot request ConfigMap
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Create restore request
  pkg/snapshot/meta/labels.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Save snapshot request to object store
  pkg/snapshot/client.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove config that does not exist anymore
  pkg/controllers/register.go
Owners: @FabianKramm

Update PVC syncer to ignore PVCs that are currently being restored
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix logs/events message capitalization
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Create VolumeSnapshotContent and then VolumeSnapshot
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add needed permissions for snapshots with shared nodes
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
Owners: @FabianKramm

Add --restore-volumes flag to vcluster restore command
  cmd/vcluster/cmd/snapshot/restore.go
  cmd/vclusterctl/cmd/restore.go
  pkg/cli/create_helm.go
  pkg/cli/restore_helm.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Do not skip PVs/PVCs when restoring with shared nodes
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add--include-volumes flag to vcluster snapshot create
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix comment
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix handling failed volume snapshots
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add snapshot request creation timestamp
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix rest of helm unit tests
  chart/tests/clusterrole_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issue
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Just log PVC restore errors, don't fail the whole vcluster restore
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove TODOs and tidy restorer
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Set volume snapshot errors in snapshot request
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for listing snapshot requests
  cmd/vclusterctl/cmd/snapshot/listrequests.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for getting a snapshot request
  cmd/vclusterctl/cmd/snapshot/getrequest.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

And PVC-specific snapshot events
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Made event reasons shorter
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add PVC-specific restore events
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Move volume in progress restore code into separate file
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Rename csi snapshot files
  pkg/snapshot/volumes/csi/snapshotcompleted.go
  pkg/snapshot/volumes/csi/snapshotfailed.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unify snapshot/restore reconcile for all end states
  pkg/snapshot/volumes/csi/restoredone.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotcompleted.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshotfailed.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Allow partially failed snapshots
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Refactor restore request structure
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/restorer.go
  pkg/snapshot/volumes/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform
