Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

Integrate new config and emit warnings when upgrading
  config/config.go
  config/config_test.go
  config/experimental_helper.go
  config/legacy_helper.go
  config/values.yaml
  config/warnings.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/platform/sleepmode/sleepmode.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Adjust schema gen script
  hack/schema/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust chart templates and values to the new format
  chart/templates/_rbac.tpl
  chart/tests/platform-secret-role_test.yaml
  chart/values.schema.json
  chart/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Remove legacy convert config command
  cmd/vclusterctl/cmd/convert/config.go
  cmd/vclusterctl/cmd/convert/convert.go
  cmd/vclusterctl/cmd/root.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust GH workflows to the new flow without vcluster-config
  .github/workflows/lint.yaml
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

Fix platform version check
  cmd/vclusterctl/cmd/platform/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove internal release check
  cmd/vclusterctl/cmd/platform/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix unit tests
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: platform version check for admin email prompt (#3523)
  cmd/vclusterctl/cmd/platform/start.go
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: platform version check for admin email prompt (#3523)
  cmd/vclusterctl/cmd/platform/start.go
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(lint): fix e2e-framework fetch in lint
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(lint): fix e2e-framework fetch in lint (#3525)
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

chore: remove unused code
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: skip error event on resourceversion conflict in pod syncer
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

chore: minor cleanup tasks
  .github/workflows/e2e.yaml
  e2e-next/README.md
  e2e-next/clusters/clusters.go
  e2e-next/constants/cluster.go
  e2e-next/constants/image.go
  e2e-next/e2e_suite_test.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform

fix: skip error event on resourceversion conflict in pod syncer (#3527)
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

fix: cilium, vpn & alpine issue
  pkg/cli/create_docker.go
  pkg/cli/start/docker.go
  pkg/cli/start/login.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: cilium, vpn & alpine issue (#3528)
  pkg/cli/create_docker.go
  pkg/cli/start/docker.go
  pkg/cli/start/login.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: cilium, vpn & alpine issue (#3528)
  pkg/cli/create_docker.go
  pkg/cli/start/docker.go
  pkg/cli/start/login.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: platform version check for admin email prompt (#3523) (#3524)
  cmd/vclusterctl/cmd/platform/start.go
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: cilium, vpn & alpine issue (#3528) (#3529)
  pkg/cli/create_docker.go
  pkg/cli/start/docker.go
  pkg/cli/start/login.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update rotate_helm.go
  pkg/cli/certs/rotate_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update platform version to v4.6.0-rc.12
  pkg/platform/version.go
Owners: @FabianKramm

Update platform version to v4.6.0-rc.12
  pkg/platform/version.go
Owners: @FabianKramm

Update platform version to v4.6.0-rc.12
  pkg/platform/version.go
Owners: @FabianKramm

Get rid of unnecessary comments
  chart/values.schema.json
  chart/values.yaml
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: @Piotr1215, @sydorovdmytro

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

feat: add Claude Code GitHub Workflow (#3533)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @Piotr1215, @sydorovdmytro

fix(ci): use pull_request_target for fork pr support
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

fix(ci): use pull_request_target for fork pr support (#3534)
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

fix: make status.QOS immutable during pod sync
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

chore: update deprecated record.EventRecorder to events.EventRecorder
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/controllers/resources/pods/validate_pod_security.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/apply.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerdeleting.go
  pkg/syncer/from_host_syncer.go
  pkg/syncer/translator/from_config_translator.go
  pkg/syncer/translator/generic_translator.go
  pkg/syncer/types/translator.go
  pkg/util/blockingcacheclient/client.go
  pkg/util/testing/manager.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: add terminalSizeQueueWrapper to fix lint error bump coreDNS default image to coredns/coredns:1.14.1
  chart/values.yaml
  config/values.yaml
  pkg/controllers/k8sdefaultendpoint/register_test.go
  pkg/coredns/coredns.go
  pkg/util/podhelper/exec.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: specify apiGroup for events in chart templates fix functions in util/testing/manager.go
  chart/templates/role.yaml
  chart/tests/role_test.yaml
  pkg/util/testing/manager.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: update etcd version in go.mod
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/server/v3/auth/jwt.go
  vendor/go.etcd.io/etcd/server/v3/auth/simple_token.go
  vendor/go.etcd.io/etcd/server/v3/auth/store.go
  vendor/go.etcd.io/etcd/server/v3/storage/mvcc/watchable_store.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: update fluent-bit chart version in test and fix fluent-bit repository
  test/e2e/values.yaml
  test/e2e_isolation_mode/values.yaml
  test/e2e_node/values.yaml
  test/e2e_rootless/values.yaml
  test/e2e_scheduler/values.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

feat(linear-sync): filter issue ids by known linear team keys
  hack/linear-sync/integration_test.go
  hack/linear-sync/linear_test.go
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: fix linter issues on events.GetEventRecorder
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/syncer/syncer.go
  pkg/util/testing/eventrecoder.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: add patch verbs for events permission
  chart/templates/role.yaml
  pkg/syncer/syncer.go
Owners: @FabianKramm
