Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

fix: Log missing vcluster.yaml warning only for the default output
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Label the --show-config describe command flag as experimental
  cmd/vclusterctl/cmd/describe.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Set the describe default output vcluster.yaml truncate threshold to 50 lines
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Renamed describe command --show-config to --config-only
  cmd/vclusterctl/cmd/describe.go
  pkg/cli/describe_helm.go
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Moved ArgoCD tracking ID and missing vcluster.yaml log statements for all output types
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Solved lint error
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Return error if --config-only flag is used in combination with output flag other than default or yaml
  pkg/cli/describe_helm.go
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Moved missed vcluster.yaml error before the output flag test
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Replaced any with fmt.Stringer for writeWithFormat helper
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix: Removed extra dash to match the vcluster.yaml title line
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add identityProvider option for DB connector IAM authentication
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: Moved configOnly and output compatibility test to command prerun
  cmd/vclusterctl/cmd/describe.go
  pkg/cli/describe_helm.go
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Added left behind tests
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Added left behind tests
  pkg/cli/describe_helm_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Fixed wrong ptr package usage
  pkg/cli/describe_helm_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Fixed tests timezone
  pkg/cli/describe_helm_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Updated tests to use assert package in place of reflect
  cmd/vclusterctl/cmd/describe.go
  pkg/cli/describe_helm_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add --version flag for vcluster server
  cmd/vcluster/cmd/root.go
Owners: @FabianKramm

feat: add --version flag for vcluster server (#3249)
  cmd/vcluster/cmd/root.go
Owners: @FabianKramm

feat: add --version flag for vcluster server (#3249)
  cmd/vcluster/cmd/root.go
Owners: @FabianKramm

feat: add --version flag for vcluster server (#3249) (#3250)
  cmd/vcluster/cmd/root.go
Owners: @FabianKramm

Deploy snapshot controller and CSI driver when running e2e tests locally
  Justfile
Owners: @loft-sh/eng-dev-vcluster-platform

Add common interface for snapshot and restore request
  pkg/snapshot/common.go
  pkg/snapshot/request.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unset PVC's bound PV names before restoring
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Check for restore earlier in PVC sync
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add basic volume snapshot e2e test
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Add snapshot URL to the snapshot request
  pkg/snapshot/options.go
  pkg/snapshot/request.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add snapshot URL to the snapshot request (#3251)
  pkg/snapshot/options.go
  pkg/snapshot/request.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Expose etcd snapshot creation/upload errors
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/types/error.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Move snapshot creation to func
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: vCluster CLI should not use platform /version endpoint
  pkg/platform/clihelper/clihelper.go
Owners: @FabianKramm

Expose etcd snapshot creation/upload errors (#3252)
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/types/error.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Deploy snapshot-controller, CRDs and CSI driver in GitHub CI
  .github/workflows/e2e.yaml
Owners: @Piotr1215, @sydorovdmytro

Uncomment cleanup 🙈
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/snapshot/common.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

fix: vCluster CLI should not use platform /version endpoint (#3253)
  pkg/platform/clihelper/clihelper.go
Owners: @FabianKramm

Restructure snapshot test specs
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: Fixed describe platform to return specific error when multiple vclusters with the same name are found
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

Increase volume snapshot/restore timeout
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: Restore passing the "beforeObj"
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
