Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

bugfix: do not rely on the kubeconfig for getting SharedSecrets; instead look in the --namespace, vcluster-platform and loft namespaces
  cmd/vclusterctl/cmd/platform/get/secret.go
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Delete etcd backup from controller
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerdeleting.go
Owners: @loft-sh/eng-dev-vcluster-platform

skip restoring pvc(s) with failed snapshot
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Improve snapshot canceling e2e test
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix the snapshot canceling test bug
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix getting volumes to snapshot
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issue
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

adds: deletion of snapshot volume via the vcluster binary
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

skip restoring pvc(s) with failed snapshot (#3279)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

skip restoring pvc(s) with failed snapshot (#3279)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix checking if volume snapshot is deleted
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Log an error when PVC check fails
  pkg/snapshot/volumes/csi/restoreinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Relax volume snapshot deletion check
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix getting volumes to snapshot (#3296)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix getting volumes to snapshot (#3296)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix Deleting check
  pkg/snapshot/volumes/csi/snapshotdeleting.go
Owners: @loft-sh/eng-dev-vcluster-platform

Check host PVC when deleting virtual PVC
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

skip restoring pvc(s) with failed snapshot (#3279) (#3295)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix getting volumes to snapshot (#3296) (#3298)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

adds: deletion of snapshot volume via the vcluster binary (#3290)
  README.md
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/k8s/k8s.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Fix broken build
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update README.md
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

Fix deleting volume snapshots
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add snapshot Deleting phase (#3293)
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/controllerdeleting.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Add snapshot Deleting phase (#3293)
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/controllerdeleting.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Don't check if PVC should be restored when restore flag is not set
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Reduce log severity
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add snapshot Deleting phase (#3293) (#3300)
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/controllerdeleting.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Fix race condition in restore volumes e2e test
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Wait for 1 minute after deleting the PVC
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Don't check if PVC should be restored when restore flag is not set (#3301)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Don't check if PVC should be restored when restore flag is not set (#3301)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix race condition in restore volumes e2e test (#3302)
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix race condition in restore volumes e2e test (#3302)
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix checking if the PVC is restored on the host
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Don't check if PVC should be restored when restore flag is not set (#3301) (#3303)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix race condition in restore volumes e2e test (#3302) (#3304)
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: snapshot delete request to deleting phase
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix checking if the PVC is restored on the host (#3305)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix checking if the PVC is restored on the host (#3305)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform
