Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

chore: update kine version in Dockerfile
  Dockerfile
  Dockerfile.release
Owners: @FabianKramm

chore: update ingress-nginx chart version for e2e tests to 4.14.2
  test/e2e/values.yaml
  test/e2e_isolation_mode/values.yaml
  test/e2e_node/values.yaml
  test/e2e_rootless/values.yaml
  test/e2e_scheduler/values.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: * improve logic in syncer and snapshot reconciliation to handle e2e tests failures * Improve logging and assertion in snapshot e2e test
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm, @loft-sh/eng-qa

refactor: only give nodes/proxy permissions if proxy kubelets (#3546)
  chart/templates/clusterrole.yaml
  chart/tests/clusterrole_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: only give nodes/proxy permissions if proxy kubelets (#3546)
  chart/templates/clusterrole.yaml
  chart/tests/clusterrole_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: only give nodes/proxy permissions if proxy kubelets (#3546)
  chart/templates/clusterrole.yaml
  chart/tests/clusterrole_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: ensure qosClass assignment is immutable to stabilize CI e2e tests
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

refactor: only give nodes/proxy permissions if proxy kubelets (#3546) (#3547)
  chart/templates/clusterrole.yaml
  chart/tests/clusterrole_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: only give nodes/proxy permissions if proxy kubelets (#3546) (#3548)
  chart/templates/clusterrole.yaml
  chart/tests/clusterrole_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

feat: Add configuration for resourceClaim and deviceClasses
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: ensure qosClass immutability in pod syncing (fix for e2e tests too)
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/translate/diff.go
Owners: @FabianKramm

fix: check if deletion.auto is configured
  config/config.go
  pkg/cli/create_helm.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: check if deletion.auto is configured (#3554)
  config/config.go
  pkg/cli/create_helm.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change (#3550)
  pkg/platform/version.go
Owners: @FabianKramm

refactor: replace generic plugin with comprehensive pr review
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

refactor: replace generic plugin with comprehensive pr review (#3555)
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

feat(linear-sync): filter issue ids by known linear team keys (#3537)
  hack/linear-sync/integration_test.go
  hack/linear-sync/linear_test.go
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

Cleanup restored PVC in the volume restore e2e test
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Snapshot creation can take longer sometimes
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix(ci): add github_token to claude-code-action
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

fix(ci): add github_token to claude-code-action (#3557)
  .github/workflows/claude-code-review.yml
Owners: @Piotr1215, @sydorovdmytro

test: Cleanup restored PVC in the volume restore e2e test (#3556)
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

feat: Add configuration for resourceClaim and deviceClasses
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: bump minimum version of platform
  pkg/platform/version.go
Owners: @FabianKramm

feat: Add configuration for resourceClaim and deviceClasses (#3551)
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: Add configurations for resourceclaimtemplates sync to host
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: Add resourceclaims and resourceclaimtemplates name translation in pod syncer
  pkg/config/validation.go
  pkg/controllers/resources/pods/translate/translator.go
  pkg/mappings/registry.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: add resourceclaim status role and fix issue in resourceClaim translation
  chart/templates/role.yaml
  pkg/controllers/resources/pods/translate/translator.go
Owners: @FabianKramm

feat: Disable resourceclaim controller in vcluster when resourceClaimTemplate reconciliation is enable
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/k8s/k8s.go
Owners: @FabianKramm

feat: - Add and register mappers for resourceclaims, resourceclaimtemplates and device classes. - Reconcile resourceclaims in pod only when appropriate configs are enabled
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/mappings/registry.go
  pkg/mappings/resources/deviceclasses.go
  pkg/mappings/resources/register.go
  pkg/mappings/resources/resourceclaims.go
  pkg/mappings/resources/resourceclaimtemplates.go
Owners: @FabianKramm

Reconcile resourceclaim and resourceclaimtemplates in pod. (#3561)
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/k8s/k8s.go
  pkg/mappings/registry.go
  pkg/mappings/resources/deviceclasses.go
  pkg/mappings/resources/register.go
  pkg/mappings/resources/resourceclaims.go
  pkg/mappings/resources/resourceclaimtemplates.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Docker: run modprobe only when overlay/bridge/br_netfilter are not loaded
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

Docker: run modprobe only when overlay/bridge/br_netfilter are not loaded (#3562)
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: add terminalSizeQueueWrapper to fix lint error bump coreDNS default image to coredns/coredns:1.14.1
  chart/values.yaml
  config/values.yaml
  pkg/controllers/k8sdefaultendpoint/register_test.go
  pkg/coredns/coredns.go
  pkg/util/podhelper/exec.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore: update deprecated record.EventRecorder to events.EventRecorder
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/controllers/resources/pods/validate_pod_security.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/apply.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerdeleting.go
  pkg/syncer/from_host_syncer.go
  pkg/syncer/translator/from_config_translator.go
  pkg/syncer/translator/generic_translator.go
  pkg/syncer/types/translator.go
  pkg/util/blockingcacheclient/client.go
  pkg/util/testing/manager.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: code review fixes
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/validate_pod_security.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/apply.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/controllerdeleting.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: make status.QOS immutable during pod sync
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

fix: use same verbs for events.k8s.io as legacy events in role
  chart/templates/role.yaml
Owners: @FabianKramm

fix: Remove changes to snapshothandler.go volumeSnapshot cleanup logic
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
