Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

fix: returning an error when vcluster config schema changed
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: returning an error when vcluster config schema changed (#3386)
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

add a fallback command for checking helm binary version (v4.x) (#3373) (#3393)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: returning an error when vcluster config schema changed (#3386)
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: returning an error when vcluster config schema changed (#3386)
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

add a fallback command for checking helm binary version (v4.x) (#3373) (#3392)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: Added NetworkPolicyIngressRule and NetworkPolicyEgressRule config types
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update config schema
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
  conformance/v1.33/vcluster-private-nodes/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update etcd version to make it safe to upgrade to 3.6 (#3409)
  chart/values.yaml
  config/default_extra_values.go
  config/values.yaml
  conformance/v1.33/vcluster-private-nodes/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update supported etcd version to one safe for upgrading to 3.6
  config/default_extra_values.go
  conformance/v1.33/vcluster-private-nodes/README.md
  conformance/v1.33/vcluster-private-nodes/values.yaml
  conformance/v1.33/vcluster/README.md
  conformance/v1.33/vcluster/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Revert "add a fallback command for checking helm binary version (v4.x) (#3373)"
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

remove client parameter from helm version check command as it is ignored/hidden since helm v3
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update supported etcd version to one safe for upgrading to 3.6 (#3410)
  config/default_extra_values.go
  conformance/v1.33/vcluster-private-nodes/README.md
  conformance/v1.33/vcluster-private-nodes/values.yaml
  conformance/v1.33/vcluster/README.md
  conformance/v1.33/vcluster/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update config schema (#3406)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Cleanup vendor modules
  go.mod
  go.sum
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterconnection_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_resourceusage_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_snapshot_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.conversion.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/nodeprovider_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/ui/v1/ui_types.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/generated_expansion.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/management_client.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterconnection.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterinstance.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405) (#3413)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405) (#3412)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

ENG-10378 | Cross vCluster APIs (#3389)
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  go.mod
  go.sum
  pkg/pro/proxy.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_allowed_before.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterconnection_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_resourceusage_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_snapshot_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.conversion.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/nodeprovider_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/ui/v1/ui_types.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/generated_expansion.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/management_client.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterconnection.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterinstance.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Cleanup vendor modules (#3415)
  go.mod
  go.sum
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterconnection_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_resourceusage_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_snapshot_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.conversion.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/nodeprovider_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/ui/v1/ui_types.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/generated_expansion.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/management_client.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterconnection.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterinstance.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Update config schema (#3406)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

bugfix(cli): use the helm version fallback command in the delete subcommand as well (#3405) (#3414)
  pkg/cli/create_helm.go
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Cleanup duplicate config entry, revert admin apis bump
  chart/values.yaml
  config/values.yaml
  go.mod
  go.sum
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Cleanup duplicate config entry, revert admin apis bump (#3416)
  chart/values.yaml
  config/values.yaml
  go.mod
  go.sum
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update vendor, cleanup not used config struct
  config/config.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_allowed_before.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Eng 10546/cleanup duplicate config (#3417)
  config/config.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_allowed_before.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat(ci): allow stable releases to comment on already released issues (#3331)
  hack/linear-sync/linear.go
  hack/linear-sync/linear_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): allow stable releases to comment on already released issues (#3331)
  hack/linear-sync/linear.go
  hack/linear-sync/linear_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): allow stable releases to comment on already released issues (#3331) (#3420)
  hack/linear-sync/linear.go
  hack/linear-sync/linear_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): allow stable releases to comment on already released issues (#3331) (#3419)
  hack/linear-sync/linear.go
  hack/linear-sync/linear_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

refactor: Added NetworkPolicyIngressRule and NetworkPolicyEgressRule config types (#3396)
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm
