Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

Experiment with curl only making ipv4 resolv queries
  test/e2e/coredns/coredns.go
  test/framework/util.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

chore(test): lint fixes
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore: add claude review
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

chore: add claude review (#3347)
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(tests): Added WithGeneratedName
  e2e-next/constants/vcluster.go
  e2e-next/labels/labels.go
  e2e-next/setup/vcluster.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_install/test_helm_charts.go
  e2e-next/test_install/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): removed generated name
  e2e-next/setup/vcluster.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_install/test_helm_charts.go
  e2e-next/test_install/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): rename deploy to install
  e2e-next/e2e_suite_test.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): cleanup
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

Restored config.OutgoingConnection type
  config/config.go
Owners: @FabianKramm

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Restored config.OutgoingConnection type
  config/config.go
  config/legacyconfig/migrate.go
Owners: @FabianKramm

Removed allow* network policy configuration flags
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Combined vcluster workload egress rules for dns and control plane
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Added test for network policies labels and annotations setting
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Updated networkpolicy helm test to use documentSelector in place of documentIndex
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): move vcluster conf to files
  e2e-next/constants/defaultvcluster.yaml
  e2e-next/constants/image.go
  e2e-next/e2e_suite_test.go
  e2e-next/setup/vcluster.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
  e2e-next/test_deploy/vcluster-init-manifest.yaml
  e2e-next/test_deploy/vcluster-test-helm.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): cleanup
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

Removed redundant test level documentSelector helm unit test
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Updated networkpolicy test to include global annotations
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): add ginkgo e2e pipeline for PRs
  .github/actions/run-ginkgo-e2e/action.yml
  .github/workflows/e2e-ginkgo.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @sydorovdmytro

feat(ci): add ginkgo e2e pipeline for PRs
  .github/actions/run-ginkgo-e2e/action.yml
  .github/workflows/e2e-ginkgo.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @sydorovdmytro

Combined vcluster workload egress rules for dns and control plane
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Restored config.OutgoingConnection type
  config/config.go
Owners: @FabianKramm

Restored config.OutgoingConnection type
  config/config.go
  config/legacyconfig/migrate.go
Owners: @FabianKramm

Removed allow* network policy configuration flags
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Updated networkpolicy helm test to use documentSelector in place of documentIndex
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Removed redundant test level documentSelector helm unit test
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Updated networkpolicy test to include global annotations
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Added test for network policies labels and annotations setting
  chart/tests/networkpolicy_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

fix: claude-review
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

Don't overwrite existing PVC when restoring with private nodes
  Justfile
  pkg/k8s/k8s.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/store.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: claude-review (#3351)
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

fix(charts): add field exportKubeConfig.additionalSecrets (#3129)
  chart/values.yaml
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(tests): fixes after CR
  e2e-next/labels/labels.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Fix AfterAll removing vcluster check
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): fixes after CR
  e2e-next/constants/image.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adding tests for syncing service endpoint and endpointslice to host
  test/e2e/servicesync/servicesync.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

feat(ci): cleanup backport branches
  .github/workflows/cleanup-backport-branches.yaml
Owners: @Piotr1215, @sydorovdmytro

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm
