Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

fix cert rotation for standalone
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

Adding tests for syncing service endpoint and endpointslice to host (#3187)
  test/e2e/servicesync/servicesync.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

log if setting namespace env var failed
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

Fix: Support canonical name lookup of default/kubernetes svc
  pkg/controllers/resources/pods/syncer_test.go
  pkg/controllers/resources/pods/translate/translator.go
Owners: @FabianKramm

Fix: Support canonical name lookup of default/kubernetes svc (#3357)
  pkg/controllers/resources/pods/syncer_test.go
  pkg/controllers/resources/pods/translate/translator.go
Owners: @FabianKramm

fix cert rotation for standalone (#3354)
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

fix cert rotation for standalone (#3354)
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

fix cert rotation for standalone (#3354)
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

chore: fix claude-review pipeline
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

chore: fix claude-review pipeline (#3360)
  .github/workflows/claude-review.yaml
Owners: @Piotr1215, @sydorovdmytro

fix cert rotation for standalone (#3354) (#3358)
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

fix cert rotation for standalone (#3354) (#3359)
  cmd/vcluster/cmd/certs/rotate.go
Owners: @FabianKramm

refactor: run interrupt handlers before stopping vCluster
  .github/workflows/claude-review.yaml
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @Piotr1215, @sydorovdmytro, @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: run interrupt handlers before stopping vCluster (#3361)
  .github/workflows/claude-review.yaml
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @Piotr1215, @sydorovdmytro, @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics (#3362)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: graceful etcd shutdown
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: graceful etcd shutdown
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  config/values.yaml
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: graceful etcd shutdown (#3363)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: graceful etcd shutdown (#3364)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  config/values.yaml
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: run interrupt handlers before stopping vCluster (#3361)
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics (#3362)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[0.29] refactor: graceful etcd shutdown (#3365)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: run interrupt handlers before stopping vCluster (#3361)
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics (#3362)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[0.28] refactor: graceful etcd shutdown (#3366)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/apiservice/generic.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/initialize.go
  pkg/setup/managers.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/syncer/from_host_syncer.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: flaky test for snapshot PV restore
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

refactor: run interrupt handlers before stopping vCluster (#3361)
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics (#3362)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: flaky test for snapshot PV restore (#3368)
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

refactor: rewrite certain panics (#3362)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  cmd/vcluster/cmd/root.go
  cmd/vcluster/cmd/start.go
  pkg/controllers/register.go
  pkg/controllers/resources/networkpolicies/translate.go
  pkg/plugin/v1/plugin.go
  pkg/projectutil/projectutil.go
  pkg/setup/managers.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: run interrupt handlers before stopping vCluster (#3361)
  cmd/vcluster/cmd/root.go
  pkg/apiservice/generic.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/k8s/k8s.go
  pkg/leaderelection/leaderelection.go
  pkg/setup/initialize.go
  pkg/setup/proxy.go
  pkg/snapshot/pod/pod.go
  pkg/util/osutil/interrupt_unix.go
  pkg/util/osutil/interrupt_windows.go
  pkg/util/podhelper/pod.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat(ci): add ginkgo e2e pipeline for PRs (#3350)
  .github/actions/run-ginkgo-e2e/action.yml
  .github/workflows/e2e-ginkgo.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @sydorovdmytro

chore(test): fixes and workflow updates
  .github/workflows/e2e.yaml
  e2e-next/constants/cluster.go
  e2e-next/constants/image.go
  e2e-next/e2e_suite_test.go
  e2e-next/test_core/sync/test_node.go
  go.mod
  go.sum
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/current.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/list.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/devspace/devspace.go
  vendor/modules.txt
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(test): change vcluster provider to internal
  .github/workflows/e2e-ginkgo.yaml
  e2e-next/setup/vcluster.go
  go.mod
  go.sum
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/vcluster/provider.go
  vendor/modules.txt
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(test): add debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(test): debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

Update e2e-ginkgo.yaml
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(test): debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(tests): debug
  e2e-next/test_core/sync/test_node.go
Owners: @loft-sh/eng-dev-vcluster-platform
