Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

pref: Increase kubernetes config QPS and Burst
  pkg/setup/config/config.go
Owners: @FabianKramm

align syncer with latest changes
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/endpointslices/translate.go
  pkg/controllers/resources/register.go
  pkg/mappings/registry.go
  pkg/mappings/resources/endpointslices.go
  pkg/mappings/resources/register.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

refactor: auto nodes configuration
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

export LoadVirtualConfig so it can be used on the pro side
  pkg/setup/controller_context.go
Owners: @FabianKramm

refactor: auto nodes configuration (#3224)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

export LoadVirtualConfig so it can be used on the pro side (#3225)
  pkg/setup/controller_context.go
Owners: @FabianKramm

export LoadVirtualConfig so it can be used on the pro side (#3225)
  pkg/setup/controller_context.go
Owners: @FabianKramm

export LoadVirtualConfig so it can be used on the pro side (#3225) (#3226)
  pkg/setup/controller_context.go
Owners: @FabianKramm

update roles
  chart/templates/role.yaml
Owners: @FabianKramm

feat: add integrations.netris
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add integrations.netris (#3227)
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix helm unit tests
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

chore: bump admin-apis
  go.mod
  go.sum
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: bump admin-apis (#3228)
  go.mod
  go.sum
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: bump admin-apis (#3228)
  go.mod
  go.sum
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: bump admin-apis (#3228) (#3229)
  go.mod
  go.sum
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Create volume snapshots
  pkg/snapshot/controller.go
  pkg/snapshot/meta/labels.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcilefailed.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/csi/volumesnapshotclasses.go
  pkg/snapshot/volumes/csi/wait.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/snapshotter.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Save snapshot request to object store
  pkg/snapshot/client.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/volumesnapshotclasses.go
  pkg/snapshot/volumes/csi/wait.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Strip PVC before saving in snapshot request ConfigMap
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix panics
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Sort imports
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Create dummy restore request
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Create restore request
  pkg/snapshot/meta/labels.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Restore volumes from snapshots
  pkg/controllers/register.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Remove config that does not exist anymore
  pkg/controllers/register.go
Owners: @FabianKramm

Add--include-volumes flag to vcluster snapshot create
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update PVC syncer to ignore PVCs that are currently being restored
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add needed permissions for snapshots with shared nodes
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
Owners: @FabianKramm

Add --restore-volumes flag to vcluster restore command
  cmd/vcluster/cmd/snapshot/restore.go
  cmd/vclusterctl/cmd/restore.go
  pkg/cli/create_helm.go
  pkg/cli/restore_helm.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Add snapshot request creation timestamp
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Do not skip PVs/PVCs when restoring with shared nodes
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix logs/events message capitalization
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for listing snapshot requests
  cmd/vclusterctl/cmd/snapshot/listrequests.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Create VolumeSnapshotContent and then VolumeSnapshot
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Set volume snapshot errors in snapshot request
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for getting a snapshot request
  cmd/vclusterctl/cmd/snapshot/getrequest.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix comment
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
