Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

Add --restore-volumes flag to vcluster restore command
  cmd/vcluster/cmd/snapshot/restore.go
  cmd/vclusterctl/cmd/restore.go
  pkg/cli/create_helm.go
  pkg/cli/restore_helm.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Add needed permissions for snapshots with shared nodes
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
Owners: @FabianKramm

Create VolumeSnapshotContent and then VolumeSnapshot
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix logs/events message capitalization
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for getting a snapshot request
  cmd/vclusterctl/cmd/snapshot/getrequest.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update PVC syncer to ignore PVCs that are currently being restored
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issues
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Do not skip PVs/PVCs when restoring with shared nodes
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add command for listing snapshot requests
  cmd/vclusterctl/cmd/snapshot/listrequests.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add snapshot request creation timestamp
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Just log PVC restore errors, don't fail the whole vcluster restore
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix rest of helm unit tests
  chart/tests/clusterrole_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Fix handling failed volume snapshots
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issue
  pkg/snapshot/volumes/csi/reconcileinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove TODOs and tidy restorer
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Set volume snapshot errors in snapshot request
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix unit tests
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Made event reasons shorter
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix comment
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

And PVC-specific snapshot events
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Refactor restore request structure
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/restorer.go
  pkg/snapshot/volumes/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Refactor snapshot request structure
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcilefailed.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorer.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Rename csi snapshot files
  pkg/snapshot/volumes/csi/snapshotcompleted.go
  pkg/snapshot/volumes/csi/snapshotfailed.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add PVC-specific restore events
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Allow partially failed snapshots
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add missing vendor files
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform

Move volume in progress restore code into separate file
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Delete snapshot request ConfigMap after 24h TTL
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/request.go
  pkg/snapshot/restorecontroller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unify snapshot/restore reconcile for all end states
  pkg/snapshot/volumes/csi/restoredone.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotcompleted.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshotfailed.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

modify eps syncer labels
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/endpointslices/translate.go
  pkg/util/translate/types.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update snapshot request creation after rebase
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Less verbose logging
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Move snapshot/restore request labels to constants pkg
  pkg/cli/snapshot_helm.go
  pkg/constants/label.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/meta/labels.go
  pkg/snapshot/request.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Remove get-request and list-requests snapshot commands
  cmd/vclusterctl/cmd/snapshot/getrequest.go
  cmd/vclusterctl/cmd/snapshot/listrequests.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unhide vcluster snapshot create command
  cmd/vclusterctl/cmd/snapshot/create.go
Owners: @loft-sh/eng-dev-vcluster-platform

Mark 'vcluster snapshot' command as deprecated
  cmd/vclusterctl/cmd/snapshot/root.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for vcluster describe user supplied vcluster.yaml
  cmd/vclusterctl/cmd/describe.go
  config/diff.go
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

change default standalone config path
  pkg/constants/constants.go
Owners: @loft-sh/eng-dev-vcluster-platform

New Syncer for EndpointSlices (#2883)
  chart/templates/role.yaml
  chart/tests/role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/endpointslices/translate.go
  pkg/controllers/resources/register.go
  pkg/mappings/registry.go
  pkg/mappings/resources/endpointslices.go
  pkg/mappings/resources/register.go
  pkg/util/translate/types.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix cri-client version
  go.mod
  go.sum
  vendor/k8s.io/cri-client/pkg/remote_image.go
  vendor/k8s.io/cri-client/pkg/remote_runtime.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
