Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

ci(lint): ignore indirect comment changes in go mod check
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

ci(lint): ignore indirect comment changes in go mod check (#3482)
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

Validate against api group being used in both sync and proxy
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Validate against api group being used in both sync and proxy (#3483)
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Validate against api group being used in both sync and proxy (#3483)
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

ci(lint): revert indirect ignore, add gitignore tip
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

ci(lint): revert indirect ignore, add gitignore tip (#3485)
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

Validate against api group being used in both sync and proxy (#3483) (#3484)
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

update to use featurename if lookup fails
  pkg/pro/error.go
  pkg/pro/error_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

update callers to use valid featureName
  pkg/pro/embedded_etcd.go
  pkg/pro/embedded_kubevip.go
  pkg/pro/external_database.go
  pkg/pro/integrated_coredns.go
  pkg/pro/namespace_sync.go
  pkg/pro/patches.go
  pkg/pro/privatenodes.go
  pkg/pro/proxy.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix standalone error
  pkg/pro/privatenodes.go
Owners: @loft-sh/eng-dev-vcluster-platform

[ENG-9177] User-readable license error messages (#3468)
  go.mod
  go.sum
  pkg/pro/embedded_etcd.go
  pkg/pro/embedded_kubevip.go
  pkg/pro/error.go
  pkg/pro/error_test.go
  pkg/pro/external_database.go
  pkg/pro/integrated_coredns.go
  pkg/pro/namespace_sync.go
  pkg/pro/patches.go
  pkg/pro/privatenodes.go
  pkg/pro/proxy.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_allowed_before.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_displayname.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_limit.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/names.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/request_instance.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/zz_generated.deepcopy.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: add load balancer support & refactor
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/delete.go
  config/config.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/delete_docker.go
  pkg/cli/list_docker.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/cli/start/docker.go
  pkg/constants/cli.go
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add load balancer support & refactor (#3486)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/delete.go
  config/config.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/delete_docker.go
  pkg/cli/list_docker.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/cli/start/docker.go
  pkg/constants/cli.go
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add load balancer support & refactor (#3486)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/delete.go
  config/config.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/delete_docker.go
  pkg/cli/list_docker.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/cli/start/docker.go
  pkg/constants/cli.go
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add load balancer support & refactor (#3486) (#3487)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/delete.go
  config/config.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/delete_docker.go
  pkg/cli/list_docker.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/cli/start/docker.go
  pkg/constants/cli.go
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: pro feature enabled check
  config/config.go
Owners: @FabianKramm

fix: pro feature enabled check (#3488)
  config/config.go
Owners: @FabianKramm

fix: pro feature enabled check (#3488)
  config/config.go
Owners: @FabianKramm

fix: pro feature enabled check (#3488) (#3489)
  config/config.go
Owners: @FabianKramm

[ENG-9177] License error fixes
  pkg/controllers/resources/pods/scheduling/config.go
  pkg/pro/embedded_etcd.go
  pkg/pro/embedded_kubevip.go
  pkg/pro/error.go
  pkg/pro/error_test.go
  pkg/pro/external_database.go
  pkg/pro/integrated_coredns.go
  pkg/pro/namespace_sync.go
  pkg/pro/patches.go
  pkg/pro/privatenodes.go
  pkg/pro/proxy.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: add --docker to vcluster platform destroy
  cmd/vclusterctl/cmd/platform/destroy.go
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/destroy/destroy_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

[ENG-9177] License error fixes (#3490)
  pkg/controllers/resources/pods/scheduling/config.go
  pkg/pro/embedded_etcd.go
  pkg/pro/embedded_kubevip.go
  pkg/pro/error.go
  pkg/pro/error_test.go
  pkg/pro/external_database.go
  pkg/pro/integrated_coredns.go
  pkg/pro/namespace_sync.go
  pkg/pro/patches.go
  pkg/pro/privatenodes.go
  pkg/pro/proxy.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: add --docker to vcluster platform destroy (#3492)
  cmd/vclusterctl/cmd/platform/destroy.go
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/destroy/destroy_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: add --docker to vcluster platform destroy (#3492)
  cmd/vclusterctl/cmd/platform/destroy.go
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/destroy/destroy_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: sync containers resources inplace resize on host cluster Increase k8s version in devspace.yaml for k8s distro to v1.35.0
  chart/templates/role.yaml
  chart/tests/role_test.yaml
  devspace.yaml
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/syncer_test.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: add --docker to vcluster platform destroy (#3492) (#3493)
  cmd/vclusterctl/cmd/platform/destroy.go
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/destroy/destroy_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

Integrate new config and emit warnings when upgrading
  config/config.go
  config/config_test.go
  config/experimental_helper.go
  config/legacy_helper.go
  config/values.yaml
  config/warnings.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/platform/sleepmode/sleepmode.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Adjust schema gen script
  hack/schema/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust chart templates and values to the new format
  chart/templates/_rbac.tpl
  chart/tests/platform-secret-role_test.yaml
  chart/values.schema.json
  chart/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Remove legacy convert config command
  cmd/vclusterctl/cmd/convert/config.go
  cmd/vclusterctl/cmd/convert/convert.go
  cmd/vclusterctl/cmd/root.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust GH workflows to the new flow without vcluster-config
  .github/workflows/lint.yaml
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): look up team per issue instead of using global default (#3495)
  hack/linear-sync/linear.go
  hack/linear-sync/main.go
Owners: @loft-sh/eng-dev-vcluster-platform
