Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

Refactor snapshot request structure
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/reconcilecompleted.go
  pkg/snapshot/volumes/csi/reconcilefailed.go
  pkg/snapshot/volumes/csi/reconcileinprogress.go
  pkg/snapshot/volumes/csi/reconcilenotstarted.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorer.go
  pkg/snapshot/volumes/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update snapshot request creation after rebase
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unhide vcluster snapshot create command
  cmd/vclusterctl/cmd/snapshot/create.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove get-request and list-requests snapshot commands
  cmd/vclusterctl/cmd/snapshot/getrequest.go
  cmd/vclusterctl/cmd/snapshot/listrequests.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Revert helm test changes
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Move snapshot/restore request labels to constants pkg
  pkg/cli/snapshot_helm.go
  pkg/constants/label.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/meta/labels.go
  pkg/snapshot/request.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Add missing vendor files
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/apis/volumegroupsnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumegroupsnapshot/v1beta1/volumegroupsnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v8/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform

Less verbose logging
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform

Delete snapshot request ConfigMap after 24h TTL
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/request.go
  pkg/snapshot/restorecontroller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Mark 'vcluster snapshot' command as deprecated
  cmd/vclusterctl/cmd/snapshot/root.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add config for enabling volume snapshot rules
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update volume snapshots rules rendering
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
Owners: @FabianKramm

Fix helm chart check for volume snapshot rules
  chart/templates/_rbac.tpl
  chart/templates/clusterrole.yaml
  chart/templates/role.yaml
Owners: @FabianKramm

Move reconciling volume snapshots into separate func
  pkg/snapshot/controller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Change error handling style
  pkg/snapshot/volumes/csi/snapshotinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove unused state handling
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add helm tests for volume snapshot rules
  chart/tests/clusterrole_test.yaml
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Auto-enable volume snapshot rules in shared mode
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

Move standalone check into CreateSnapshotRequestResources
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix helm tests
  chart/tests/clusterrole_test.yaml
  chart/tests/clusterrolebinding_test.yaml
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Fix helm tests for the role
  chart/tests/role_test.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Use different WebhookConfiguration name in every webhook e2e test spec (#2811)
  test/e2e/webhook/webhook.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

feat(snapshot): expose snapshot create command to vcluster binary
  cmd/vcluster/cmd/snapshot/create.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/options.go
  pkg/snapshot/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: calculate vcluster has correctly
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

fix: calculate vcluster has correctly (#3238)
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

fix: calculate vcluster has correctly (#3238)
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

fix: calculate vcluster has correctly (#3238)
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

fix: calculate vcluster has correctly (#3238) (#3240)
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

fix: calculate vcluster has correctly (#3238) (#3239)
  chart/templates/_vclusterconfighash.tpl
Owners: @FabianKramm

print vCluster version at the startup
  cmd/vcluster/cmd/start.go
Owners: @FabianKramm

fix eps deletion issue
  pkg/controllers/resources/endpointslices/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

address review comments
  pkg/controllers/resources/endpointslices/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix endpointSlice deletion issue (#3243)
  pkg/controllers/resources/endpointslices/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: increase memory limits
  chart/values.yaml
  config/legacyconfig/migrate_test.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix getting namespace for cert rotation in standalone
  cmd/vcluster/cmd/start.go
  pkg/certs/rotate.go
  pkg/setup/config/config.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/store.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: increase memory limits (#3244)
  chart/values.yaml
  config/legacyconfig/migrate_test.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

print vCluster version at the startup (#3242)
  cmd/vcluster/cmd/start.go
Owners: @FabianKramm

print vCluster version at the startup (#3242)
  cmd/vcluster/cmd/start.go
Owners: @FabianKramm

print vCluster version at the startup (#3242) (#3246)
  cmd/vcluster/cmd/start.go
Owners: @FabianKramm

feat: Added structured describe command output
  cmd/vclusterctl/cmd/describe.go
  pkg/cli/describe_helm.go
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform
