Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @hidalgopl, @loft-sh/Eng-Docs-Admin

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm

/chart/ @FabianKramm @hidalgopl

/cmd/vcluster/ @FabianKramm @hidalgopl

/config/ @FabianKramm @hidalgopl

/docs/ @loft-sh/Eng-Docs-Admin

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/cli/ @hidalgopl

/pkg/config/ @hidalgopl
/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm @hidalgopl
/pkg/syncer/ @FabianKramm @hidalgopl
/pkg/util/translate/ @FabianKramm

/test/ @loft-sh/eng-qa

netlify.toml @loft-sh/Eng-Docs-Admin

Add polling to synced namespaces cleanup when deleting vcluster
  pkg/cli/cleanup_namespaces.go
Owners: @hidalgopl

fix: remove nodeport for orbstack
  pkg/cli/create_helm.go
Owners: @hidalgopl

Add polling to synced namespaces cleanup when deleting vcluster (#2916)
  pkg/cli/cleanup_namespaces.go
Owners: @hidalgopl

fix: remove nodeport for orbstack (#2918)
  pkg/cli/create_helm.go
Owners: @hidalgopl

fix: add control plane pods to certs
  pkg/server/cert/cert.go
Owners: @FabianKramm

fix: add control plane pods to certs (#2919)
  pkg/server/cert/cert.go
Owners: @FabianKramm

fix: Ignore the *Class limiting
  config/config.go
  pkg/constants/constants.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
Owners: @FabianKramm, @hidalgopl, @loft-sh/eng-dev-vcluster-platform

fix: Ignore the *Class limiting (#2917)
  config/config.go
  pkg/constants/constants.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
Owners: @FabianKramm, @hidalgopl, @loft-sh/eng-dev-vcluster-platform

list all virtual cluster instance while trying to get access key
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform

list all virtual cluster instance while trying to get access key (#2921)
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add missing private nodes options
  chart/values.schema.json
  config/config.go
Owners: @FabianKramm, @hidalgopl

chore: handle case where non-existing storageclass acts as binding selector
  pkg/controllers/resources/persistentvolumeclaims/translate.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add missing private nodes options (#2922)
  chart/values.schema.json
  config/config.go
Owners: @FabianKramm, @hidalgopl

removed additional check for endpoints.
  pkg/controllers/resources/endpoints/syncer.go
Owners: @FabianKramm

Fixed flaky test to verify the events in the resources when classes are not available
  test/e2e_limit_classes/limitClasses/ingressClasses.go
  test/e2e_limit_classes/limitClasses/storageClasses.go
Owners: @loft-sh/eng-qa

Fixed flaky tests
  test/e2e_limit_classes/limitClasses/ingressClasses.go
  test/e2e_limit_classes/limitClasses/storageClasses.go
Owners: @loft-sh/eng-qa

fix: do not overwrite translated storageClass name on host
  pkg/controllers/resources/persistentvolumes/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: handle non-namespaced resources in mapper translation
  pkg/mappings/generic/mapper.go
Owners: @FabianKramm

fix: handle non-namespaced resources in mapper translation
  pkg/mappings/generic/mapper.go
Owners: @FabianKramm

fix: do not overwrite translated storageClass name on host
  pkg/controllers/resources/persistentvolumes/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: handle non-namespaced resources in mapper translation
  pkg/mappings/generic/mapper.go
Owners: @FabianKramm

fix: do not overwrite translated storageClass name on host
  pkg/controllers/resources/persistentvolumes/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: handle non-namespaced resources in mapper translation
  pkg/mappings/generic/mapper.go
Owners: @FabianKramm

fix: do not overwrite translated storageClass name on host
  pkg/controllers/resources/persistentvolumes/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add metallb as addon
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @hidalgopl

[v0.24] fix: do not overwrite translated storageClass name on host | fix: handle non-namespaced resources in mapper translation (#2927)
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/mappings/generic/mapper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

[v0.25] fix: do not overwrite translated storageClass name on host | fix: handle non-namespaced resources in mapper translation (#2928)
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/mappings/generic/mapper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add metallb as addon (#2929)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @hidalgopl

chore(ci): update MinimumVersionTag on platform release (#2912)
  .github/workflows/update-platform-minimum-version.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

Fixing the flaky test in e2e_limit_classes (#2925)
  test/e2e_limit_classes/limitClasses/ingressClasses.go
  test/e2e_limit_classes/limitClasses/storageClasses.go
Owners: @loft-sh/eng-qa

fix: missing authorizer checks
  pkg/server/server.go
Owners: @FabianKramm

fix: missing authorizer checks (#2930)
  pkg/server/server.go
Owners: @FabianKramm

fix: missing authorizer checks (#2930)
  pkg/server/server.go
Owners: @FabianKramm

fix: missing authorizer checks (#2930)
  pkg/server/server.go
Owners: @FabianKramm

feat: refactor deploy & embedded registry
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/registry/push.go
  cmd/vclusterctl/cmd/registry/registry.go
  cmd/vclusterctl/cmd/root.go
  config/config.go
  config/values.yaml
  go.mod
  go.sum
  pkg/authorization/delegatingauthorizer/authorizer.go
  pkg/server/server.go
  pkg/util/archive/extract.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/github.com/docker/go-units/CONTRIBUTING.md
  vendor/github.com/docker/go-units/LICENSE
  vendor/github.com/docker/go-units/MAINTAINERS
  vendor/github.com/docker/go-units/README.md
  vendor/github.com/docker/go-units/circle.yml
  vendor/github.com/docker/go-units/duration.go
  vendor/github.com/docker/go-units/size.go
  vendor/github.com/docker/go-units/ulimit.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/github.com/morikuni/aec/LICENSE
  vendor/github.com/morikuni/aec/README.md
  vendor/github.com/morikuni/aec/aec.go
  vendor/github.com/morikuni/aec/ansi.go
  vendor/github.com/morikuni/aec/builder.go
  vendor/github.com/morikuni/aec/sample.gif
  vendor/github.com/morikuni/aec/sgr.go
  vendor/modules.txt
Owners: @FabianKramm, @hidalgopl, @loft-sh/eng-dev-vcluster-platform

feat: refactor deploy & embedded registry (#2933)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/registry/push.go
  cmd/vclusterctl/cmd/registry/registry.go
  cmd/vclusterctl/cmd/root.go
  config/config.go
  config/values.yaml
  go.mod
  go.sum
  pkg/authorization/delegatingauthorizer/authorizer.go
  pkg/server/server.go
  pkg/util/archive/extract.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/github.com/docker/go-units/CONTRIBUTING.md
  vendor/github.com/docker/go-units/LICENSE
  vendor/github.com/docker/go-units/MAINTAINERS
  vendor/github.com/docker/go-units/README.md
  vendor/github.com/docker/go-units/circle.yml
  vendor/github.com/docker/go-units/duration.go
  vendor/github.com/docker/go-units/size.go
  vendor/github.com/docker/go-units/ulimit.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/github.com/morikuni/aec/LICENSE
  vendor/github.com/morikuni/aec/README.md
  vendor/github.com/morikuni/aec/aec.go
  vendor/github.com/morikuni/aec/ansi.go
  vendor/github.com/morikuni/aec/builder.go
  vendor/github.com/morikuni/aec/sample.gif
  vendor/github.com/morikuni/aec/sgr.go
  vendor/modules.txt
Owners: @FabianKramm, @hidalgopl, @loft-sh/eng-dev-vcluster-platform

Fixed flaky tests
  test/e2e_limit_classes/limitClasses/ingressClasses.go
  test/e2e_limit_classes/limitClasses/priorityClasses.go
  test/e2e_limit_classes/limitClasses/runtimeClasses.go
  test/e2e_limit_classes/limitClasses/storageClasses.go
Owners: @loft-sh/eng-qa

feat: add registry pull
  cmd/vclusterctl/cmd/registry/pull.go
  cmd/vclusterctl/cmd/registry/push.go
  cmd/vclusterctl/cmd/registry/registry.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add registry pull (#2935)
  cmd/vclusterctl/cmd/registry/pull.go
  cmd/vclusterctl/cmd/registry/push.go
  cmd/vclusterctl/cmd/registry/registry.go
Owners: @loft-sh/eng-dev-vcluster-platform
