Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

chore(test): upgrade test_helm_charts
  e2e-next/test_core/test_helm_charts.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): rewrite test_init_manifests to new framework
  e2e-next/test_core/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): use cluster instead of envfuncs
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): cleanup
  e2e-next/README.md
  e2e-next/labels/labels.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): lint fixes
  e2e-next/constants/vcluster.go
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): vcluster setup upgrade to use ctx
  e2e-next/setup/vcluster.go
  vendor/sigs.k8s.io/e2e-framework/third_party/vcluster/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): e2e-next rename host clusterName
  e2e-next/constants/cluster.go
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Add e2e-labels command to Justfile
  Justfile
Owners: @loft-sh/eng-dev-vcluster-platform

chore: skip e2e-next linter errors and from unit tests
  .golangci.yml
  hack/test.sh
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): lint fixes
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Added WithGeneratedName
  e2e-next/constants/vcluster.go
  e2e-next/labels/labels.go
  e2e-next/setup/vcluster.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_install/test_helm_charts.go
  e2e-next/test_install/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Fix AfterAll removing vcluster check
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): move vcluster conf to files
  e2e-next/constants/defaultvcluster.yaml
  e2e-next/constants/image.go
  e2e-next/e2e_suite_test.go
  e2e-next/setup/vcluster.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
  e2e-next/test_deploy/vcluster-init-manifest.yaml
  e2e-next/test_deploy/vcluster-test-helm.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): cleanup
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): removed generated name
  e2e-next/setup/vcluster.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_install/test_helm_charts.go
  e2e-next/test_install/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): rename deploy to install
  e2e-next/e2e_suite_test.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): fixes after CR
  e2e-next/labels/labels.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): cleanup
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(tests): debug
  e2e-next/test_core/sync/test_node.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): debug
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Changed withversion to withpath
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): try static vcluster path
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): add vcluster cli os.Getenv
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

test: set CI ginkgo e2e permissions
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(tests): fixes after CR
  e2e-next/constants/image.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): add ginkgo e2e pipeline for PRs (#3350)
  .github/actions/run-ginkgo-e2e/action.yml
  .github/workflows/e2e-ginkgo.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @sydorovdmytro

test: refactor suite to use suite dependencies and concurrent setup / teardown
  Justfile
  e2e-next/clusters/clusters.go
  e2e-next/clusters/vcluster-default.yaml
  e2e-next/clusters/vcluster-init-manifest.yaml
  e2e-next/clusters/vcluster-test-helm.yaml
  e2e-next/constants/vcluster.go
  e2e-next/e2e_suite_test.go
  e2e-next/init/init.go
  e2e-next/setup/template/template.go
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
  e2e-next/test_core/sync/test_node.go
  e2e-next/test_deploy/test_helm_charts.go
  e2e-next/test_deploy/test_init_manifests.go
  go.mod
  go.sum
  vendor/github.com/loft-sh/e2e-framework/pkg/e2e/core_dsl.go
  vendor/github.com/loft-sh/e2e-framework/pkg/e2e/stack.go
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/kind/kind.copy
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/kind/kind.go
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/provider.go
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/vcluster/vcluster.copy
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/vcluster/vcluster.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/cluster.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/current.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/destroy.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/list.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/options.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/suite/focus.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/suite/suite.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/util.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/vcluster/dependency.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/vcluster/options.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(test): add debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

test: run tests concurrently
  Justfile
  e2e-next/test_core/sync/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update e2e-ginkgo.yaml
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

test: run CI tests concurrently
  .github/actions/run-ginkgo-e2e/action.yml
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): change vcluster provider to internal
  .github/workflows/e2e-ginkgo.yaml
  e2e-next/setup/vcluster.go
  go.mod
  go.sum
  vendor/github.com/loft-sh/e2e-framework/pkg/provider/vcluster/provider.go
  vendor/modules.txt
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(test): debug
  .github/workflows/e2e-ginkgo.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(test): fixes and workflow updates
  .github/workflows/e2e.yaml
  e2e-next/constants/cluster.go
  e2e-next/constants/image.go
  e2e-next/e2e_suite_test.go
  e2e-next/test_core/sync/test_node.go
  go.mod
  go.sum
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/current.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/cluster/list.go
  vendor/github.com/loft-sh/e2e-framework/pkg/setup/devspace/devspace.go
  vendor/modules.txt
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Revamp README: use-case based structure with new features and architectures
  README.md
  assets/vcluster-architecture-auto-nodes.png
  assets/vcluster-architecture-dedicated-nodes.png
  assets/vcluster-architecture-private-nodes.png
  assets/vcluster-architecture-shared-nodes.png
  assets/vcluster-architecture-standalone.png
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Refactor helper function and add tests
  cmd/vclusterctl/cmd/registry/proxy.go
  cmd/vclusterctl/cmd/registry/proxy_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

upgrade platform version to 4.6.0-alpha.10
  pkg/platform/version.go
Owners: @FabianKramm

upgrade platform version to 4.6.0-alpha.10 (#3442)
  pkg/platform/version.go
Owners: @FabianKramm

Revamp README: use-case based structure with new features and architectures
  README.md
  assets/vcluster-architecture-auto-nodes.png
  assets/vcluster-architecture-dedicated-nodes.png
  assets/vcluster-architecture-private-nodes.png
  assets/vcluster-architecture-shared-nodes.png
  assets/vcluster-architecture-standalone.png
Owners: @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
