Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

fix: Use ErrorStreamOnly() default loger and moved flag validation to cmd.Run
  cmd/vclusterctl/cmd/describe.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: Return error if the platform vcluster status is not available
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

Improve error messages when volume snapshots have (partially) failed
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

Improve restore error messages
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Error on unexpected PVC restore phase
  pkg/snapshot/volumes/csi/restoreinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Added structured describe command output (#3241)
  cmd/vclusterctl/cmd/describe.go
  pkg/cli/describe_helm.go
  pkg/cli/describe_helm_test.go
  pkg/cli/describe_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: link to DevSpace in contributing guide
  CONTRIBUTING.md
Owners: @loft-sh/eng-dev-vcluster-platform

fix: link to DevSpace in contributing guide (#3257)
  CONTRIBUTING.md
Owners: @loft-sh/eng-dev-vcluster-platform

chore: bump kine version
  Dockerfile
  Dockerfile.release
Owners: @FabianKramm

Improve error messages when volume snapshots have (partially) failed (#3256)
  pkg/snapshot/controller.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/restorerequest.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(snapshot): expose snapshot create command to vcluster binary
  cmd/vcluster/cmd/snapshot/create.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/options.go
  pkg/snapshot/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Change vcluster snapshot create output
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore: bump kine version (#3258)
  Dockerfile
  Dockerfile.release
Owners: @FabianKramm

feat: add controlPlane.statefulSet.initContainers & sidecarContainers
  chart/templates/_init-containers.tpl
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: remove unreachable code to start platform on Docker
  pkg/cli/start/docker.go
  pkg/cli/start/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(snapshot): expose snapshot create command to vcluster binary (#3237)
  cmd/vcluster/cmd/snapshot/create.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/options.go
  pkg/snapshot/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: remove unreachable code to start platform on Docker (#3261)
  pkg/cli/start/docker.go
  pkg/cli/start/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

tests for endpointslice syncer
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/endpointslices/syncer_test.go
  pkg/controllers/resources/endpointslices/translate.go
  pkg/util/translate/types.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

reverts: set patches
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: add controlPlane.statefulSet.initContainers & sidecarContainers (#3260)
  chart/templates/_init-containers.tpl
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Revert "feat: set patches (#3186)"
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
  pkg/util/patch/patch.go
  pkg/util/patch/patch_test.go
  pkg/util/patch/path.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Revert "feat: set patches (#3186)"
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
  pkg/util/patch/patch.go
  pkg/util/patch/patch_test.go
  pkg/util/patch/path.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: Restore passing the "beforeObj"
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

tests for endpointslice syncer (#3263)
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/endpointslices/syncer_test.go
  pkg/controllers/resources/endpointslices/translate.go
  pkg/util/translate/types.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add identityProvider option for DB connector IAM authentication
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add identityProvider option for DB connector IAM authentication (#3248)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: Restore passing the "beforeObj" (#3266)
  pkg/controllers/resources/configmaps/to_host_syncer.go
  pkg/controllers/resources/csidrivers/syncer.go
  pkg/controllers/resources/csinodes/syncer.go
  pkg/controllers/resources/csistoragecapacities/syncer.go
  pkg/controllers/resources/endpoints/syncer.go
  pkg/controllers/resources/endpointslices/syncer.go
  pkg/controllers/resources/events/syncer.go
  pkg/controllers/resources/ingressclasses/syncer.go
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/namespaces/syncer.go
  pkg/controllers/resources/networkpolicies/syncer.go
  pkg/controllers/resources/nodes/syncer.go
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/controllers/resources/persistentvolumes/syncer.go
  pkg/controllers/resources/poddisruptionbudgets/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/priorityclasses/syncer.go
  pkg/controllers/resources/runtimeclasses/syncer.go
  pkg/controllers/resources/secrets/to_host_syncer.go
  pkg/controllers/resources/serviceaccounts/syncer.go
  pkg/controllers/resources/services/syncer.go
  pkg/controllers/resources/storageclasses/host_syncer.go
  pkg/controllers/resources/storageclasses/syncer.go
  pkg/controllers/resources/volumesnapshotclasses/syncer.go
  pkg/controllers/resources/volumesnapshotcontents/syncer.go
  pkg/controllers/resources/volumesnapshots/syncer.go
  pkg/patcher/patcher.go
  pkg/pro/patches.go
  pkg/syncer/from_host_syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: add --docker for platform start
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/start/docker.go
  pkg/cli/start/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add --docker for platform start (#3270)
  cmd/vclusterctl/cmd/platform/start.go
  pkg/cli/start/docker.go
  pkg/cli/start/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: Add --external for platform add
  cmd/vclusterctl/cmd/platform/add/vcluster.go
  pkg/cli/add_vcluster_helm.go
  pkg/cli/create_helm.go
  pkg/platform/secret.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: Do not add the external flag to the platform secret
  pkg/platform/secret.go
Owners: @FabianKramm

fix: Updated platform add vcluster --external flag documentation to highlight its usage
  cmd/vclusterctl/cmd/platform/add/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

Deploy snapshot controller and CSI driver when running e2e tests locally
  Justfile
Owners: @loft-sh/eng-dev-vcluster-platform

Add common interface for snapshot and restore request
  pkg/snapshot/common.go
  pkg/snapshot/request.go
  pkg/snapshot/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform

Unset PVC's bound PV names before restoring
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Check for restore earlier in PVC sync
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add basic volume snapshot e2e test
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform
