Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

fix: snapshot delete request to deleting phase
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix checking if the PVC is restored on the host (#3305) (#3307)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: snapshot delete request to deleting phase (#3306)
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: snapshot delete request to deleting phase (#3306)
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: snapshot delete request to deleting phase (#3306) (#3308)
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

set vClusterName globally for the translate package for use in the restore pod
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Delete nodeProviders before deleting nodeTypes
  pkg/cli/destroy/destroy.go
Owners: @loft-sh/eng-dev-vcluster-platform

Delete nodeProviders before deleting nodeTypes (#3310)
  pkg/cli/destroy/destroy.go
Owners: @loft-sh/eng-dev-vcluster-platform

Delete nodeProviders before deleting nodeTypes (#3310)
  pkg/cli/destroy/destroy.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/coredns/template.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Delete nodeProviders before deleting nodeTypes (#3310) (#3311)
  pkg/cli/destroy/destroy.go
Owners: @loft-sh/eng-dev-vcluster-platform

set vClusterName globally for the translate package for use in the restore pod (#3309)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

set vClusterName globally for the translate package for use in the restore pod (#3309)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update README.md (#3299)
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

set vClusterName globally for the translate package for use in the restore pod (#3309) (#3312)
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

bugfix: do not rely on the kubeconfig for getting SharedSecrets; instead look in the --namespace, vcluster-platform and loft namespaces (#3294)
  cmd/vclusterctl/cmd/platform/get/secret.go
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

bugfix: do not rely on the kubeconfig for getting SharedSecrets; instead look in the --namespace, vcluster-platform and loft namespaces (#3294)
  cmd/vclusterctl/cmd/platform/get/secret.go
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

bugfix: do not rely on the kubeconfig for getting SharedSecrets; instead look in the --namespace, vcluster-platform and loft namespaces (#3294) (#3313)
  cmd/vclusterctl/cmd/platform/get/secret.go
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore: bump vCluster dependency
  pkg/platform/version.go
Owners: @FabianKramm

chore: bump vCluster dependency
  pkg/platform/version.go
Owners: @FabianKramm

Fix snapshot creation with private nodes
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix snapshot creation with private nodes (#3315)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix snapshot creation with private nodes (#3315)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix snapshot creation with private nodes (#3315) (#3316)
  pkg/snapshot/volumes/csi/snapshotnotstarted.go
Owners: @loft-sh/eng-dev-vcluster-platform

Reduce log severity when patching snapshot request ConfigMap
  pkg/snapshot/controller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Reduce log severity when patching snapshot request ConfigMap (#3317)
  pkg/snapshot/controller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Reduce log severity when patching snapshot request ConfigMap (#3317)
  pkg/snapshot/controller.go
Owners: @loft-sh/eng-dev-vcluster-platform

Reduce log severity when patching snapshot request ConfigMap (#3317) (#3318)
  pkg/snapshot/controller.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: do not create docs folders
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

refactor: do not create docs folders (#3322)
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

docs: typo entry for CoreWeave in README
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

docs: typo entry for CoreWeave in README (#3323)
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

chore: bump vCluster dependency (#3314)
  pkg/platform/version.go
Owners: @FabianKramm

fix(charts): add field exportKubeConfig.additionalSecrets
  chart/values.yaml
  config/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore: extending the test framework to also manage kubeconfig file of host cluster
  test/framework/framework.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: prevent panic when getting service CIDR
  pkg/util/servicecidr/servicecidr.go
Owners: @FabianKramm, @lizardruss

fix: prevent panic when getting service CIDR
  pkg/util/servicecidr/servicecidr.go
Owners: @FabianKramm, @lizardruss

fix: prevent panic when getting service CIDR
  pkg/util/servicecidr/servicecidr.go
Owners: @FabianKramm, @lizardruss

fix: prevent panic when getting service CIDR (#3328)
  pkg/util/servicecidr/servicecidr.go
Owners: @FabianKramm, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
