Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

chore: update ingress-nginx chart version for e2e tests to 4.14.2
  test/e2e/values.yaml
  test/e2e_isolation_mode/values.yaml
  test/e2e_node/values.yaml
  test/e2e_rootless/values.yaml
  test/e2e_scheduler/values.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: fix linter issues on events.GetEventRecorder
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/restorecontroller.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/restorer.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/syncer/syncer.go
  pkg/util/testing/eventrecoder.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: * improve logic in syncer and snapshot reconciliation to handle e2e tests failures * Improve logging and assertion in snapshot e2e test
  pkg/controllers/resources/ingresses/syncer.go
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm, @loft-sh/eng-qa

fix: ensure qosClass immutability in pod syncing (fix for e2e tests too)
  pkg/controllers/resources/pods/syncer.go
  pkg/controllers/resources/pods/translate/diff.go
Owners: @FabianKramm

fix: ensure qosClass assignment is immutable to stabilize CI e2e tests
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

fix: update fluent-bit chart version in test and fix fluent-bit repository
  test/e2e/values.yaml
  test/e2e_isolation_mode/values.yaml
  test/e2e_node/values.yaml
  test/e2e_rootless/values.yaml
  test/e2e_scheduler/values.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: fix review comments by codex : * Fix issues with cache implementation in in blockingcacheclient and pluginhookclient * Make volumeSnapshotUpdateResult logic in snapshothandler more clear.
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/util/applyconfiguration.go
  pkg/util/blockingcacheclient/client.go
  pkg/util/pluginhookclient/client.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: avoid removing finalizers on configmap in snapshot processing when configmap is already deleted Make qosClass immmutable in podSyncer
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: specify apiGroup for events in chart templates fix functions in util/testing/manager.go
  chart/templates/role.yaml
  chart/tests/role_test.yaml
  pkg/util/testing/manager.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: add patch verbs for events permission
  chart/templates/role.yaml
  pkg/syncer/syncer.go
Owners: @FabianKramm

Fix: Code review fixes on management of Conflict error during reconciliation
  pkg/controllers/resources/pods/syncer.go
  pkg/snapshot/controller.go
  pkg/syncer/syncer.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: update kine version in Dockerfile
  Dockerfile
  Dockerfile.release
Owners: @FabianKramm

chore: update etcd version in go.mod
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/server/v3/auth/jwt.go
  vendor/go.etcd.io/etcd/server/v3/auth/simple_token.go
  vendor/go.etcd.io/etcd/server/v3/auth/store.go
  vendor/go.etcd.io/etcd/server/v3/storage/mvcc/watchable_store.go
  vendor/modules.txt
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix: handle --restore flag in platform driver create path
  pkg/cli/create_platform.go
  pkg/cli/create_platform_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(docker): remove use of mount namespace
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: missing netstat
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

Docker: run modprobe only when overlay/bridge/br_netfilter are not loaded (#3562)
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

Docker: run modprobe only when overlay/bridge/br_netfilter are not loaded (#3562) (#3568)
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: make sure docker driver is mentioned
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/login.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/platform/login.go
  cmd/vclusterctl/cmd/resume.go
  cmd/vclusterctl/cmd/use/driver.go
  pkg/cli/config/config.go
  pkg/cli/config/types.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: missing netstat (#3567)
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/login.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/platform/login.go
  cmd/vclusterctl/cmd/resume.go
  cmd/vclusterctl/cmd/use/driver.go
  pkg/cli/config/config.go
  pkg/cli/config/types.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: missing netstat (#3567)
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/login.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/platform/login.go
  cmd/vclusterctl/cmd/resume.go
  cmd/vclusterctl/cmd/use/driver.go
  pkg/cli/config/config.go
  pkg/cli/config/types.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: missing netstat (#3567) (#3569)
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/login.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/platform/login.go
  cmd/vclusterctl/cmd/resume.go
  cmd/vclusterctl/cmd/use/driver.go
  pkg/cli/config/config.go
  pkg/cli/config/types.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform

Remove ingress-nginx
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  go.mod
  pkg/cli/start/start.go
  pkg/platform/clihelper/clihelper.go
  vendor/github.com/evanphx/json-patch/.gitignore
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/errors.go
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Remove ingress-nginx (#3566)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  go.mod
  pkg/cli/start/start.go
  pkg/platform/clihelper/clihelper.go
  vendor/github.com/evanphx/json-patch/.gitignore
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/errors.go
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
