Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

Update jsonschema regex for target vc and make it required
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

ci(lint): verify go mod tidy and vendor are in sync
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

Update jsonschema regex for target vc and make it required (#3443)
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update jsonschema regex for target vc and make it required (#3443)
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Update jsonschema regex for target vc and make it required (#3443) (#3445)
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

vcluster debug etcd CLI command
  cmd/vclusterctl/cmd/debug/debug.go
  cmd/vclusterctl/cmd/debug/etcd.go
  pkg/cli/find/find.go
  pkg/cli/find/kubeclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add optional project to targetVirtualCluster ref
  chart/values.schema.json
  config/config.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

address feedback
  cmd/vclusterctl/cmd/debug/etcd.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(assets): multi arch support for scripts
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

Integrate new config and emit warnings when upgrading
  config/config.go
  config/config_test.go
  config/experimental_helper.go
  config/legacy_helper.go
  config/values.yaml
  config/warnings.go
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/platform/sleepmode/sleepmode.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Adjust schema gen script
  hack/schema/main.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust chart templates and values to the new format
  chart/templates/_rbac.tpl
  chart/tests/platform-secret-role_test.yaml
  chart/values.schema.json
  chart/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Remove legacy convert config command
  cmd/vclusterctl/cmd/convert/config.go
  cmd/vclusterctl/cmd/convert/convert.go
  cmd/vclusterctl/cmd/root.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adjust GH workflows to the new flow without vcluster-config
  .github/workflows/lint.yaml
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

Allow control plane ingress from vcluster rancher operator agent install pods
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Add optional project to targetVirtualCluster ref (#3447)
  chart/values.schema.json
  config/config.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Add optional project to targetVirtualCluster ref (#3447)
  chart/values.schema.json
  config/config.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Add optional project to targetVirtualCluster ref (#3447) (#3453)
  chart/values.schema.json
  config/config.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix(assets scripts): support multiarch images
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

Backport all PRs from main branch into v0.31 branch (#3450)
  .github/workflows/release.yaml
  README.md
  assets/vcluster-architecture-auto-nodes.png
  assets/vcluster-architecture-dedicated-nodes.png
  assets/vcluster-architecture-private-nodes.png
  assets/vcluster-architecture-shared-nodes.png
  assets/vcluster-architecture-standalone.png
  pkg/platform/version.go
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore(backport): create prs with conflict markers for visibility (#3437)
  .backportrc.json
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Ensure than spec.resources for a pod is supported on the host cluster before syncing it (#3440)
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/util/testing/config.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449) (#3455)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449) (#3456)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449) (#3457)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449) (#3458)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(ci): duplicate comments prevented via issue id deduplication (#3449) (#3459)
  hack/linear-sync/main.go
  hack/linear-sync/main_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: add vCluster docker driver
  chart/values.schema.json
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/resume.go
  config/config.go
  config/default_extra_values.go
  pkg/cli/config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/cli/create_platform.go
  pkg/cli/delete_docker.go
  pkg/cli/describe_docker.go
  pkg/cli/list_docker.go
  pkg/cli/oci/extract.go
  pkg/cli/oci/pull.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/platform/secret.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add vCluster docker driver (#3460)
  chart/values.schema.json
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/resume.go
  config/config.go
  config/default_extra_values.go
  pkg/cli/config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/cli/create_platform.go
  pkg/cli/delete_docker.go
  pkg/cli/describe_docker.go
  pkg/cli/list_docker.go
  pkg/cli/oci/extract.go
  pkg/cli/oci/pull.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/platform/secret.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add vCluster docker driver (#3460)
  chart/values.schema.json
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/resume.go
  config/config.go
  config/default_extra_values.go
  pkg/cli/config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/cli/create_platform.go
  pkg/cli/delete_docker.go
  pkg/cli/describe_docker.go
  pkg/cli/list_docker.go
  pkg/cli/oci/extract.go
  pkg/cli/oci/pull.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/platform/secret.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add vCluster docker driver (#3460) (#3461)
  chart/values.schema.json
  cmd/vclusterctl/cmd/connect.go
  cmd/vclusterctl/cmd/create.go
  cmd/vclusterctl/cmd/delete.go
  cmd/vclusterctl/cmd/describe.go
  cmd/vclusterctl/cmd/list.go
  cmd/vclusterctl/cmd/pause.go
  cmd/vclusterctl/cmd/resume.go
  config/config.go
  config/default_extra_values.go
  pkg/cli/config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
  pkg/cli/create_helm.go
  pkg/cli/create_platform.go
  pkg/cli/delete_docker.go
  pkg/cli/describe_docker.go
  pkg/cli/list_docker.go
  pkg/cli/oci/extract.go
  pkg/cli/oci/pull.go
  pkg/cli/pause_docker.go
  pkg/cli/resume_docker.go
  pkg/platform/secret.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/modules.txt
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: add missing slash after port in registry proxy URL replacement (#3434)
  cmd/vclusterctl/cmd/registry/proxy.go
  cmd/vclusterctl/cmd/registry/proxy_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: remove dead code in podsyncer
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
