Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Experiment with enabling networkPolicy for all e2e tests
  test/commonValues.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: updated describe command to match list and delete commands
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): skip linear comments for non-stable releases
  hack/linear-sync/linear.go
  hack/linear-sync/linear_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

fix: updated describe command to match list and delete commands
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: updated describe command to match list and delete commands
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore: extending the test framework to also manage kubeconfig file of host cluster
  test/framework/framework.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

fix: updated describe command to match list and delete commands (#3333)
  pkg/cli/describe_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Adding tests for syncing service endpoint and endpointslice to host
  test/e2e/servicesync/servicesync.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

refactor: konnectivity handler
  pkg/pro/privatenodes.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

refactor: konnectivity handler (#3335)
  pkg/pro/privatenodes.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

refactor: remove konnectivity port
  chart/templates/service.yaml
  chart/tests/service_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

refactor: remove konnectivity port (#3336)
  chart/templates/service.yaml
  chart/tests/service_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore(tests): use cluster instead of envfuncs
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): vcluster setup upgrade to use ctx
  e2e-next/setup/vcluster.go
  vendor/sigs.k8s.io/e2e-framework/third_party/vcluster/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): upgrade test_k8sdefaultendpoint
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add support for ingress network policies at vcluster creation time
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore(test): upgrade test_helm_charts
  e2e-next/test_core/test_helm_charts.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): rewrite test_init_manifests to new framework
  e2e-next/test_core/test_init_manifests.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): lint fixes
  e2e-next/constants/vcluster.go
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): fix after test execution
  Justfile
  e2e-next/devspace.yaml
  e2e-next/e2e-kind.config.yaml
  e2e-next/setup/vcluster.go
  e2e-next/test_core/test_helm_charts.go
  e2e-next/test_core/test_init_manifests.go
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): cleanup
  e2e-next/README.md
  e2e-next/labels/labels.go
Owners: @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

chore(tests): Add e2e-labels command to Justfile
  Justfile
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): e2e-next rename host clusterName
  e2e-next/constants/cluster.go
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore: skip e2e-next linter errors and from unit tests
  .golangci.yml
  hack/test.sh
Owners: @loft-sh/eng-dev-vcluster-platform

feat: allow PodDisruptionBudget configuration for vcluster control plane
  chart/templates/pod-disruption-budget.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Removed allow* network policy configuration flags
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Restored config.OutgoingConnection type
  config/config.go
  config/legacyconfig/migrate.go
Owners: @FabianKramm

restore vCluster config from snapshot
  pkg/cli/create_helm.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Restored config.OutgoingConnection type
  config/config.go
Owners: @FabianKramm

Combined vcluster workload egress rules for dns and control plane
  chart/templates/networkpolicy.yaml
  chart/tests/networkpolicy_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

[create-pull-request] automated change
  pkg/platform/version.go
Owners: @FabianKramm

Experiment with enabling networkPolicy for all e2e tests
  test/commonValues.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Experiment with setting resolv.conf timeout to 2s to allow clients to refresh connections quicker
  pkg/controllers/resources/pods/translate/translator.go
Owners: @FabianKramm

Revert "Experiment with setting resolv.conf timeout to 2s to allow clients to refresh connections quicker"
  pkg/controllers/resources/pods/translate/translator.go
Owners: @FabianKramm

feat: allow PodDisruptionBudget configuration for vcluster control plane (#3341)
  chart/templates/pod-disruption-budget.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

upload conformance test results
  conformance/v1.34/vcluster-private-nodes/README.md
  conformance/v1.34/vcluster-private-nodes/e2e.log
  conformance/v1.34/vcluster-private-nodes/junit_01.xml
  conformance/v1.34/vcluster-private-nodes/values.yaml
  conformance/v1.34/vcluster/README.md
  conformance/v1.34/vcluster/e2e.log
  conformance/v1.34/vcluster/junit_01.xml
  conformance/v1.34/vcluster/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

upload conformance test results (#3346)
  conformance/v1.34/vcluster-private-nodes/README.md
  conformance/v1.34/vcluster-private-nodes/e2e.log
  conformance/v1.34/vcluster-private-nodes/junit_01.xml
  conformance/v1.34/vcluster-private-nodes/values.yaml
  conformance/v1.34/vcluster/README.md
  conformance/v1.34/vcluster/e2e.log
  conformance/v1.34/vcluster/junit_01.xml
  conformance/v1.34/vcluster/values.yaml
Owners: @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
