Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

Deploy snapshot-controller, CRDs and CSI driver in GitHub CI
  .github/workflows/e2e.yaml
Owners: @Piotr1215, @sydorovdmytro

Move snapshot creation to func
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Shallow git clone
  .github/workflows/e2e.yaml
Owners: @Piotr1215, @sydorovdmytro

Increase volume snapshot/restore timeout
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Uncomment cleanup 🙈
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

kubectl apply instead of create
  .github/workflows/e2e.yaml
Owners: @Piotr1215, @sydorovdmytro

Fix linter issues
  pkg/snapshot/common.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Quote shell vars
  .github/workflows/e2e.yaml
Owners: @Piotr1215, @sydorovdmytro

Restructure snapshot test specs
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Rewrite waiting for vCLuster with Eventually
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix context usage and error checks when waiting for request to finish
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Use ginkgo ctx in Eventually
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Use gomega error check
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Rewrite Eventually
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix gomega Expect usage to use local gomega
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Use BeEmpty instead of HaveLength 0
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Use local Gomega in Eventually, use test local ctx
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix Eventually in the test cleanup
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix Eventually assertion when checking Jobs
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Disable CoreDNS reload plugin in embedded mode
  pkg/coredns/template.go
  pkg/coredns/template_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Disable CoreDNS reload plugin in embedded mode (#3274)
  pkg/coredns/template.go
  pkg/coredns/template_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add volume snapshots e2e tests (#3254)
  .github/workflows/e2e.yaml
  Justfile
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/common.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/restorerequest.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @Piotr1215, @sydorovdmytro, @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Add vcluster snapshot get command
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/get.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Skip same request or the older ones
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Show uploaded snapshots
  cmd/vclusterctl/cmd/snapshot/get.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix linter issue
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform

Change vcluster snapshot create output
  pkg/cli/snapshot_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Run snapshot get command inside of vcluster container
  cmd/vcluster/cmd/snapshot/get.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Show snapshot in a single row
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Fix broken rebase
  pkg/snapshot/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add `vcluster snapshot get` command (#3269)
  cmd/vcluster/cmd/snapshot/get.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/get.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Clean up volume snapshot resources after taking snapshot
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

Cleanup volume snapshots after restoring
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add `vcluster snapshot get` command (#3269)
  cmd/vcluster/cmd/snapshot/get.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/get.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Add volume snapshots cleanup test
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix linter issue
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Add `vcluster snapshot get` command (#3269) (#3276)
  cmd/vcluster/cmd/snapshot/get.go
  cmd/vcluster/cmd/snapshot/snapshot.go
  cmd/vclusterctl/cmd/snapshot/create.go
  cmd/vclusterctl/cmd/snapshot/get.go
  cmd/vclusterctl/cmd/snapshot/root.go
  pkg/cli/snapshot_helm.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Print test job details when the test fails
  test/e2e/snapshot/common.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix VolumeSnapshot status check when restoring
  pkg/snapshot/volumes/csi/restoreinprogress.go
Owners: @loft-sh/eng-dev-vcluster-platform

Wait for PVC to be bound before cleaning up VolumeSnapshots
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/restorerequest.go
Owners: @loft-sh/eng-dev-vcluster-platform
