Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

chore(test): debug
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): add vcluster cli os.Getenv
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Changed withversion to withpath
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): try static vcluster path
  e2e-next/setup/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

remove default packages during release
  .github/workflows/release.yaml
Owners: @Piotr1215, @sydorovdmytro

remove default packages during release
  .github/workflows/release.yaml
Owners: @Piotr1215, @sydorovdmytro

add a fallback command for checking helm binary version (v4.x)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

test: Enable network policies by default in e2e tests
  test/commonValues.yaml
  test/values_ha.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

add debug log statement to highlight the command error and subsequent attempt for better clarity.
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

add a fallback command for checking helm binary version (v4.x) (#3373)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

add a fallback command for checking helm binary version (v4.x) (#3373)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

test: Enable network policies by default in e2e tests (#3374)
  test/commonValues.yaml
  test/values_ha.yaml
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

refactor: export patchSecret func
  pkg/certs/ensure.go
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

add a fallback command for checking helm binary version (v4.x) (#3373) (#3375)
  pkg/cli/create_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

support restoring from a snapshot during vCluster creation with platform driver
  pkg/cli/create_platform.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update pkg/certs/rotate.go
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: rename and export patchSecret func (#3377)
  pkg/certs/rotate.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat(ci): cleanup backport branches
  .github/workflows/cleanup-backport-branches.yaml
Owners: @Piotr1215, @sydorovdmytro

feat(ci): cleanup backport branches (#3352)
  .github/workflows/cleanup-backport-branches.yaml
Owners: @Piotr1215, @sydorovdmytro

chore(ci): shellcheck fixes
  .github/workflows/lint.yaml
  .github/workflows/notify-release.yaml
  .github/workflows/sync-config-schema.yaml
Owners: @Piotr1215, @sydorovdmytro

Skip admin email prompt when using new platform activation flow
  cmd/vclusterctl/cmd/platform/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add unit tests
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add code docs
  cmd/vclusterctl/cmd/platform/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update code docs
  cmd/vclusterctl/cmd/platform/start.go
Owners: @loft-sh/eng-dev-vcluster-platform

Test invalid semver
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Test version with 'v' prefix
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Skip admin email prompt when using new platform activation flow (#3385)
  cmd/vclusterctl/cmd/platform/start.go
  cmd/vclusterctl/cmd/platform/start_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: returning an error when vcluster config schema changed
  config/config.go
  pkg/cli/delete_helm.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore(tests): use cluster instead of envfuncs
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): e2e-next rename host clusterName
  e2e-next/constants/cluster.go
  e2e-next/e2e_suite_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): vcluster setup upgrade to use ctx
  e2e-next/setup/vcluster.go
  vendor/sigs.k8s.io/e2e-framework/third_party/vcluster/vcluster.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): Add e2e-labels command to Justfile
  Justfile
Owners: @loft-sh/eng-dev-vcluster-platform

chore(test): upgrade test_helm_charts
  e2e-next/test_core/test_helm_charts.go
Owners: @loft-sh/eng-dev-vcluster-platform
