Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin

Clean up volume snapshot resources after taking snapshot (#3275)
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorerequest.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Clean up volume snapshot resources after taking snapshot (#3275)
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorerequest.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Clean up volume snapshot resources after taking snapshot (#3275) (#3280)
  pkg/controllers/resources/persistentvolumeclaims/syncer.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  pkg/snapshot/volumes/restorerequest.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Improve chart tests
  test/e2e/manifests/chart.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix check
  test/e2e/manifests/chart.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Fix snapshot and restore error handling
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Improve manifest e2e tests and fix snapshot test (and unerlying issue) (#3281)
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  test/e2e/manifests/chart.go
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Update README.md
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

Update README.md (#3282)
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

Update README.md
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

chore: undeprecate k8s.version
  chart/values.schema.json
  chart/values.yaml
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

chore: undeprecate k8s.version (#3284)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

refactor: use InternalIP by default instead of hostname
  pkg/k8s/k8s.go
Owners: @FabianKramm

Cancel previous in-progress requests for the same URL
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor: use InternalIP by default instead of hostname (#3285)
  pkg/k8s/k8s.go
Owners: @FabianKramm

Add e2e tests for canceling snapshots
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-qa, @loft-sh/eng-dev-vcluster-platform

Cancel previous in-progress snapshot requests for the same URL (#3277)
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Add Deleting phase
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add --external for platform add
  cmd/vclusterctl/cmd/platform/add/vcluster.go
  pkg/cli/add_vcluster_helm.go
  pkg/platform/helper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Move volume snapshot creation to common handler
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @loft-sh/eng-dev-vcluster-platform

Decouple pre-provisioned VolumeSnapshotContent creation from restore
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshothandler.go
Owners: @loft-sh/eng-dev-vcluster-platform

Update README.md (#3283)
  README.md
Owners: @loft-sh/eng-dev-vcluster-platform

Fix: kube-cm crash because of wrong flag
  pkg/k8s/k8s.go
Owners: @FabianKramm

Fix: kube-cm crash because of wrong flag (#3287)
  pkg/k8s/k8s.go
Owners: @FabianKramm

Cancel previous in-progress snapshot requests for the same URL (#3277)
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Improve manifest e2e tests and fix snapshot test (and unerlying issue) (#3281)
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  test/e2e/manifests/chart.go
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Cancel previous in-progress snapshot requests for the same URL (#3277) (#3288)
  pkg/snapshot/common.go
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/csi/snapshotcanceling.go
  pkg/snapshot/volumes/csi/snapshotdone.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
  test/e2e/snapshot/volumes.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Improve manifest e2e tests and fix snapshot test (and unerlying issue) (#3281) (#3289)
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotinprogress.go
  pkg/snapshot/volumes/request.go
  test/e2e/manifests/chart.go
  test/e2e/snapshot/common.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Add helm test for the security context
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Address comments
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Add controlPlane.advanced.kubeVip
  chart/templates/statefulset.yaml
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  pkg/pro/embedded_kubevip.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Remove pro tag from kube-vip config
  config/config.go
Owners: @FabianKramm

ENG-9633 Add controlPlane.advanced.kubeVip (#3286)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  pkg/pro/embedded_kubevip.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

ENG-9633 Add controlPlane.advanced.kubeVip (#3286)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  pkg/pro/embedded_kubevip.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: Add --external for platform add (#3272)
  cmd/vclusterctl/cmd/platform/add/vcluster.go
  pkg/cli/add_vcluster_helm.go
  pkg/platform/helper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

ENG-9633 Add controlPlane.advanced.kubeVip (#3286) (#3291)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  pkg/pro/embedded_kubevip.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

adds: deletion of snapshot volume via the vcluster binary
  cmd/vcluster/cmd/snapshot/delete.go
  pkg/snapshot/request.go
  pkg/snapshot/volumes/request.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore: bump vCluster dependency
  pkg/platform/version.go
Owners: @FabianKramm

Add snapshot Deleting phase
  pkg/snapshot/controller.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/volumes/csi/restoreinprogress.go
  pkg/snapshot/volumes/csi/snapshotdeleting.go
  pkg/snapshot/volumes/csi/snapshothandler.go
  pkg/snapshot/volumes/csi/snapshotter.go
  pkg/snapshot/volumes/request.go
  test/e2e/snapshot/common.go
  test/e2e/snapshot/snapshot.go
Owners: @loft-sh/eng-dev-vcluster-platform, @loft-sh/eng-qa

Reduce logs severity
  pkg/snapshot/controller.go
  pkg/snapshot/controllerbase.go
Owners: @loft-sh/eng-dev-vcluster-platform
