Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

fix(assets scripts): support multiarch images
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

chore: update security contact to vcluster.com
  .github/SECURITY.md
Owners: @loft-sh/eng-dev-vcluster-platform

ci: add conflict marker detection to prevent accidental merges
  .github/workflows/conflict-check.yaml
Owners: @Piotr1215, @sydorovdmytro

feat: add docker registry proxy
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/disconnect.go
  config/config.go
  config/default_extra_values.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/find/find.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add docker registry proxy (#3465)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/disconnect.go
  config/config.go
  config/default_extra_values.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/find/find.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add docker registry proxy (#3465)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/disconnect.go
  config/config.go
  config/default_extra_values.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/find/find.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

feat: add docker registry proxy (#3465) (#3467)
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/disconnect.go
  config/config.go
  config/default_extra_values.go
  config/values.yaml
  pkg/cli/create_docker.go
  pkg/cli/find/find.go
  pkg/server/server.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix lint error
  pkg/pro/error.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: remove dead code in podsyncer (#3462)
  pkg/controllers/resources/pods/syncer.go
Owners: @FabianKramm

fix(assets scripts): support multiarch images (#3454)
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

fix(assets scripts): support multiarch images (#3454)
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add hostAliases to the controlPlane statefulSet pod configuration (#3432)
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Check against using the same resource for both sync and proxy
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

ci(lint): verify go mod tidy and vendor are in sync (#3444)
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

chore: update security contact to vcluster.com (#3464)
  .github/SECURITY.md
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3477)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3476)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3475)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3474)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3473)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix(linear-sync): support variable-length team keys in issue regex (#3469) (#3472)
  hack/linear-sync/linear_test.go
  hack/linear-sync/pr.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: docker dns & better logging
  chart/values.schema.json
  cmd/vclusterctl/cmd/platform/logout.go
  config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: docker dns & better logging (#3478)
  chart/values.schema.json
  cmd/vclusterctl/cmd/platform/logout.go
  config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: docker dns & better logging (#3478)
  chart/values.schema.json
  cmd/vclusterctl/cmd/platform/logout.go
  config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix(assets scripts): support multiarch images (#3454) (#3470)
  assets/download-images.sh
  assets/push-images.sh
Owners: @loft-sh/eng-dev-vcluster-platform

Check against using the same resource for both sync and proxy (#3471)
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Check against using the same resource for both sync and proxy (#3471)
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

ci: add conflict marker detection to prevent accidental merges (#3466)
  .github/workflows/conflict-check.yaml
Owners: @Piotr1215, @sydorovdmytro

Check against using the same resource for both sync and proxy (#3471) (#3480)
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/config/validation_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: docker dns & better logging (#3478) (#3479)
  chart/values.schema.json
  cmd/vclusterctl/cmd/platform/logout.go
  config/config.go
  pkg/cli/connect_docker.go
  pkg/cli/create_docker.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

ci(lint): show diff when go mod tidy check fails
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

ci(lint): show diff when go mod tidy check fails (#3481)
  .github/workflows/lint.yaml
Owners: @Piotr1215, @sydorovdmytro

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
