Repository loft-sh/vcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loft-sh/eng-dev-vcluster-platform, @Piotr1215, @FabianKramm, @loft-sh/eng-qa, @sydorovdmytro, @loft-sh/Eng-Docs-Admin, @zerbitx, @hidalgopl, @lizardruss

[create-pull-request] automated change (#3421)
  pkg/platform/version.go
Owners: @FabianKramm

fix: inconsistent etcd snapshots
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

(feat): add snapshot support for vCluster Standalone
  pkg/cli/find/find.go
  pkg/cli/restore_helm.go
  pkg/cli/snapshot_helm.go
  pkg/constants/constants.go
  pkg/controllers/register.go
  pkg/etcd/client.go
  pkg/setup/config/config.go
  pkg/snapshot/client.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

upgrade platform version to 4.6.0-alpha.8
  pkg/platform/version.go
Owners: @FabianKramm

fix: inconsistent etcd snapshots (#3423)
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: inconsistent etcd snapshots (#3423)
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: inconsistent etcd snapshots (#3423)
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Extract StartAPIServer from StartAPIServiceProxy
  pkg/apiservice/generic.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add HandlerWithErrorResponder to allow injection of custom errorResponder
  pkg/server/handler/handler.go
Owners: @FabianKramm

ENG-10546 | Inject custom error responder (#3428)
  pkg/apiservice/generic.go
  pkg/server/handler/handler.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Deprecate ingress nginx
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: inconsistent etcd snapshots (#3423) (#3427)
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: inconsistent etcd snapshots (#3423) (#3426)
  pkg/etcd/client.go
  pkg/etcd/client_test.go
Owners: @loft-sh/eng-dev-vcluster-platform

Deprecate ingress nginx (#3395)
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
  pkg/platform/clihelper/clihelper.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: fall back to login flow if config access key is invalid
  cmd/vclusterctl/cmd/platform/login.go
  pkg/platform/client.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

upgrade platform version to 4.6.0-alpha.8 (#3425)
  pkg/platform/version.go
Owners: @FabianKramm

fix: fall back to login flow if config access key is invalid (#3422)
  cmd/vclusterctl/cmd/platform/login.go
  pkg/platform/client.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: returning an error when vcluster config schema changed (#3386) (#3397)
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

fix: returning an error when vcluster config schema changed (#3386) (#3398)
  pkg/cli/delete_helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Cross vcluster apis (#3418)
  chart/values.schema.json
  chart/values.yaml
  cmd/vcluster/cmd/start.go
  config/config.go
  config/values.yaml
  pkg/apiservice/generic.go
  pkg/pro/proxy.go
  pkg/server/handler/handler.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Log helm command in debug instead of info
  pkg/helm/helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

Log helm command in debug instead of info (#3429)
  pkg/helm/helm.go
Owners: @loft-sh/eng-dev-vcluster-platform

WIP
  .github/workflows/lint.yaml
  .github/workflows/sync-config-schema.yaml
  chart/templates/_rbac.tpl
  chart/tests/platform-secret-role_test.yaml
  chart/values.schema.json
  chart/values.yaml
  cmd/vclusterctl/cmd/convert/config.go
  cmd/vclusterctl/cmd/convert/convert.go
  cmd/vclusterctl/cmd/root.go
  config/config.go
  config/config_test.go
  config/experimental_helper.go
  config/legacy_helper.go
  config/values.yaml
  config/warnings.go
  go.mod
  go.sum
  hack/schema/main.go
  pkg/cli/create_helm.go
  pkg/config/validation.go
  pkg/platform/sleepmode/sleepmode.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/features_allowed_before.go
  vendor/github.com/loft-sh/admin-apis/pkg/licenseapi/license_new.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_resourceusage_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_snapshot_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.conversion.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/v1/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.api.register.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/management/zz_generated.deepcopy.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/nodeprovider_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/storage/v1/virtualclusterinstance_types.go
  vendor/github.com/loft-sh/api/v4/pkg/apis/ui/v1/ui_types.go
  vendor/github.com/loft-sh/api/v4/pkg/clientset/versioned/typed/management/v1/virtualclusterinstance.go
  vendor/github.com/loft-sh/api/v4/pkg/vclusterconfig/convert.go
  vendor/github.com/loft-sh/api/v4/pkg/vclusterconfig/types.go
  vendor/github.com/loft-sh/api/v4/pkg/vclusterconfig/types_legacy.go
  vendor/modules.txt
Owners: @Piotr1215, @sydorovdmytro, @FabianKramm, @loft-sh/eng-dev-vcluster-platform

Add accessResources to resource proxy config
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Add accessResources to resource proxy config
  chart/values.schema.json
  config/config.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: add missing slash after port in registry proxy URL replacement
  cmd/vclusterctl/cmd/registry/proxy.go
Owners: @loft-sh/eng-dev-vcluster-platform

Add config validation for experimental custom resource proxy
  pkg/cli/create_helm.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(backport): create prs with conflict markers for visibility
  .backportrc.json
Owners: @loft-sh/eng-dev-vcluster-platform

fix: fall back to login flow if config access key is invalid (#3422)
  cmd/vclusterctl/cmd/platform/login.go
  pkg/platform/client.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

fix: fall back to login flow if config access key is invalid (#3422) (#3438)
  cmd/vclusterctl/cmd/platform/login.go
  pkg/platform/client.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

Remove redundant if
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

ENG-10923 | Add config validation for experimental custom resource proxy (#3436)
  pkg/cli/create_helm.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

(feat): add snapshot support for vCluster Standalone
  pkg/cli/find/find.go
  pkg/cli/restore_helm.go
  pkg/cli/snapshot_helm.go
  pkg/constants/constants.go
  pkg/constants/standalone.go
  pkg/controllers/register.go
  pkg/pro/standalone.go
  pkg/setup/config/config.go
  pkg/snapshot/client.go
  pkg/snapshot/pod/pod.go
  pkg/snapshot/request.go
  pkg/snapshot/restoreclient.go
  pkg/snapshot/store.go
Owners: @loft-sh/eng-dev-vcluster-platform, @FabianKramm

ENG-10923 | Add config validation for experimental custom resource proxy (#3436)
  pkg/cli/create_helm.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

ENG-10923 | Add config validation for experimental custom resource proxy (#3436) (#3439)
  pkg/cli/create_helm.go
  pkg/config/validation.go
Owners: @loft-sh/eng-dev-vcluster-platform

refactor code for finding/listing standalone vCluster
  pkg/cli/find/find.go
Owners: @loft-sh/eng-dev-vcluster-platform

feat: Add hostAliases to the controlPlane statefulSet pod configuration
  chart/templates/statefulset.yaml
  chart/tests/statefulset_test.yaml
  chart/values.schema.json
  chart/values.yaml
  config/config.go
  config/values.yaml
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

feat: Ensure than spec.resources for a pod is supported on the host cluster before syncing it
  pkg/controllers/resources/pods/translate/translator.go
  pkg/controllers/resources/pods/translate/translator_test.go
  pkg/util/testing/config.go
Owners: @FabianKramm, @loft-sh/eng-dev-vcluster-platform

chore(test): upgrade test_k8sdefaultendpoint
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

chore(tests): fix after test execution
  Justfile
  e2e-next/devspace.yaml
  e2e-next/e2e-kind.config.yaml
  e2e-next/setup/vcluster.go
  e2e-next/test_core/test_helm_charts.go
  e2e-next/test_core/test_init_manifests.go
  e2e-next/test_core/test_k8sdefaultendpoint.go
Owners: @loft-sh/eng-dev-vcluster-platform

.github/CODEOWNERS:

# Keep the entries sorted and optionally grouped.

* @loft-sh/eng-dev-vcluster-platform

/.github/workflows/backport.yaml @Piotr1215
/.github/workflows/e2e.yaml @FabianKramm
/.github/workflows/e2e.yaml @loft-sh/eng-qa
/.github/workflows/release.yaml @FabianKramm
/.github/workflows/ @Piotr1215 @sydorovdmytro
/.github/CODEOWNERS @FabianKramm

/chart/templates/ @FabianKramm

/cmd/vcluster/ @FabianKramm

/config/ @FabianKramm

/docs/ @loft-sh/Eng-Docs-Admin

/test/ @loft-sh/eng-qa @loft-sh/eng-dev-vcluster-platform

/hack/email/ @zerbitx

/pkg/authentication/ @FabianKramm
/pkg/authorization/ @FabianKramm

/pkg/config/config.go @FabianKramm

/pkg/controllers/k8sdefaultendpoint/ @FabianKramm
/pkg/controllers/register.go @FabianKramm
/pkg/controllers/resources/*/from_host_syncer*.go @hidalgopl
/pkg/controllers/resources/configmaps/ @FabianKramm
/pkg/controllers/resources/endpoints/ @FabianKramm
/pkg/controllers/resources/events/ @FabianKramm
/pkg/controllers/resources/pods/ @FabianKramm
/pkg/controllers/resources/secrets/ @FabianKramm
/pkg/controllers/resources/services/ @FabianKramm

/pkg/k8s/ @FabianKramm
/pkg/mappings/ @FabianKramm
/pkg/platform/ @FabianKramm
/pkg/plugin/ @FabianKramm
/pkg/server/ @FabianKramm
/pkg/setup/ @FabianKramm
/pkg/syncer/ @FabianKramm
/pkg/util/portforward/ @FabianKramm @lizardruss
/pkg/util/servicecidr/ @FabianKramm @lizardruss
/pkg/util/translate/ @FabianKramm

Dockerfile @FabianKramm
Dockerfile.release @FabianKramm
go.mod @FabianKramm

netlify.toml @loft-sh/Eng-Docs-Admin
